In [214]:
import polars as pl

df = pl.read_csv("data.csv", encoding="ISO-8859-1", infer_schema_length=10000)
df

shape: (541_909, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 536365    ┆ 85123A    ┆ WHITE        ┆ 6        ┆ 12/1/2010   ┆ 2.55      ┆ 17850      ┆ United  │
│           ┆           ┆ HANGING      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART        ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ T-LIGHT HO…  ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 71053     ┆ WHITE METAL  ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ LANTERN      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│ 536365    ┆ 84406B    ┆ CREAM CUPID  ┆ 8        ┆ 12/1/2010   ┆ 2.75      ┆ 17850      ┆ United  │
│           ┆           ┆ HEARTS COAT  ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HANGER       ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029G    ┆ KNITTED      ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ UNION FLAG   ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HOT WATER B… ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029E    ┆ RED WOOLLY   ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ HOTTIE WHITE ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART.       ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 581587    ┆ 22613     ┆ PACK OF 20   ┆ 12       ┆ 12/9/2011   ┆ 0.85      ┆ 12680      ┆ France  │
│           ┆           ┆ SPACEBOY     ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ NAPKINS      ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22899     ┆ CHILDREN'S   ┆ 6        ┆ 12/9/2011   ┆ 2.1       ┆ 12680      ┆ France  │
│           ┆           ┆ APRON DOLLY  ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ GIRL         ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23254     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ DOLLY GIRL   ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23255     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22138     ┆ BAKING SET 9 ┆ 3        ┆ 12/9/2011   ┆ 4.95      ┆ 12680      ┆ France  │
│           ┆           ┆ PIECE        ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘


Ahora sobre el dataset vamos a analizar si hay datos que limpiar:

Primero los valores nulos, es importante que no tengamos ninguno, ya con datos nulos no podemos trabajar.

In [215]:
df.null_count()

shape: (1, 8)
┌───────────┬───────────┬─────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---         ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ u32       ┆ u32       ┆ u32         ┆ u32      ┆ u32         ┆ u32       ┆ u32        ┆ u32     │
╞═══════════╪═══════════╪═════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 0         ┆ 0         ┆ 1454        ┆ 0        ┆ 0           ┆ 0         ┆ 135080     ┆ 0       │
└───────────┴───────────┴─────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Como vemos solo hay muchos nulls, aunque en este caso los nulls del custumer ID nos lo tomaremos como compras reales de clientes no registrados, en cambio los valores nulos de Description los eliminaremos por que no podemos saber si ha sido una venta real o un error.

In [216]:
df = df.filter(df["Description"].is_not_null())
df

shape: (540_455, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 536365    ┆ 85123A    ┆ WHITE        ┆ 6        ┆ 12/1/2010   ┆ 2.55      ┆ 17850      ┆ United  │
│           ┆           ┆ HANGING      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART        ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ T-LIGHT HO…  ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 71053     ┆ WHITE METAL  ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ LANTERN      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│ 536365    ┆ 84406B    ┆ CREAM CUPID  ┆ 8        ┆ 12/1/2010   ┆ 2.75      ┆ 17850      ┆ United  │
│           ┆           ┆ HEARTS COAT  ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HANGER       ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029G    ┆ KNITTED      ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ UNION FLAG   ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HOT WATER B… ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029E    ┆ RED WOOLLY   ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ HOTTIE WHITE ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART.       ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 581587    ┆ 22613     ┆ PACK OF 20   ┆ 12       ┆ 12/9/2011   ┆ 0.85      ┆ 12680      ┆ France  │
│           ┆           ┆ SPACEBOY     ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ NAPKINS      ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22899     ┆ CHILDREN'S   ┆ 6        ┆ 12/9/2011   ┆ 2.1       ┆ 12680      ┆ France  │
│           ┆           ┆ APRON DOLLY  ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ GIRL         ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23254     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ DOLLY GIRL   ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23255     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22138     ┆ BAKING SET 9 ┆ 3        ┆ 12/9/2011   ┆ 4.95      ┆ 12680      ┆ France  │
│           ┆           ┆ PIECE        ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Sabiendo que ya no tenemos nulos vamos a comprobar los duplicados(todas las columnas), que tambien es importante

In [217]:

f"Filas duplicadas: {df.height - df.unique().height}"

'Filas duplicadas: 5268'

En nuestro caso elimineramos estas filas duplicadas porque es muy probable que se trate de un error de la aplicacion al insertar datos.

In [218]:

df = df.unique()
df

shape: (535_187, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 560225    ┆ 22730     ┆ ALARM CLOCK  ┆ 1        ┆ 7/15/2011   ┆ 7.46      ┆ null       ┆ United  │
│           ┆           ┆ BAKELIKE     ┆          ┆ 16:27       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ IVORY        ┆          ┆             ┆           ┆            ┆         │
│ 561515    ┆ 20902     ┆ VINTAGE      ┆ 2        ┆ 7/27/2011   ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ KEEPSAKE BOX ┆          ┆ 15:16       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PARIS DAY…   ┆          ┆             ┆           ┆            ┆         │
│ 577258    ┆ 22698     ┆ PINK REGENCY ┆ 1        ┆ 11/18/2011  ┆ 2.95      ┆ 16764      ┆ United  │
│           ┆           ┆ TEACUP AND   ┆          ┆ 12:27       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SAUCER       ┆          ┆             ┆           ┆            ┆         │
│ 578263    ┆ 85019B    ┆ BLOSSOM      ┆ 24       ┆ 11/23/2011  ┆ 1.25      ┆ 17422      ┆ United  │
│           ┆           ┆ IMAGES       ┆          ┆ 13:27       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ NOTEBOOK SET ┆          ┆             ┆           ┆            ┆         │
│ 552018    ┆ 22431     ┆ WATERING CAN ┆ 6        ┆ 5/5/2011    ┆ 1.95      ┆ 16817      ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆ 17:42       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ELEPHANT     ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 536846    ┆ 22469     ┆ HEART OF     ┆ 2        ┆ 12/2/2010   ┆ 1.65      ┆ 14573      ┆ United  │
│           ┆           ┆ WICKER SMALL ┆          ┆ 19:59       ┆           ┆            ┆ Kingdom │
│ 563094    ┆ 22154     ┆ ANGEL        ┆ 48       ┆ 8/11/2011   ┆ 0.42      ┆ 14525      ┆ United  │
│           ┆           ┆ DECORATION 3 ┆          ┆ 17:35       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BUTTONS      ┆          ┆             ┆           ┆            ┆         │
│ 548700    ┆ 22981     ┆ PANTRY APPLE ┆ 1        ┆ 4/3/2011    ┆ 1.45      ┆ 13623      ┆ United  │
│           ┆           ┆ CORER        ┆          ┆ 11:11       ┆           ┆            ┆ Kingdom │
│ 542716    ┆ 22296     ┆ HEART IVORY  ┆ 24       ┆ 1/31/2011   ┆ 1.65      ┆ 16407      ┆ United  │
│           ┆           ┆ TRELLIS      ┆          ┆ 14:02       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LARGE        ┆          ┆             ┆           ┆            ┆         │
│ 554489    ┆ 22434     ┆ BALLOON PUMP ┆ 8        ┆ 5/24/2011   ┆ 1.95      ┆ 17272      ┆ United  │
│           ┆           ┆ WITH 10      ┆          ┆ 13:46       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BALLOONS     ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Ahora iremos con los valores negativos

In [219]:
df.filter((pl.col("Quantity") < 0) | (pl.col("UnitPrice") < 0))

shape: (9_727, 8)
┌───────────┬───────────┬────────────┬──────────┬────────────┬───────────┬────────────┬────────────┐
│ InvoiceNo ┆ StockCode ┆ Descriptio ┆ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ CustomerID ┆ Country    │
│ ---       ┆ ---       ┆ n          ┆ ---      ┆ e          ┆ ---       ┆ ---        ┆ ---        │
│ str       ┆ str       ┆ ---        ┆ i64      ┆ ---        ┆ f64       ┆ i64        ┆ str        │
│           ┆           ┆ str        ┆          ┆ str        ┆           ┆            ┆            │
╞═══════════╪═══════════╪════════════╪══════════╪════════════╪═══════════╪════════════╪════════════╡
│ C556117   ┆ 47503A    ┆ ASS FLORAL ┆ -12      ┆ 6/9/2011   ┆ 1.25      ┆ 12802      ┆ Netherland │
│           ┆           ┆ PRINT      ┆          ┆ 9:44       ┆           ┆            ┆ s          │
│           ┆           ┆ MULTI      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ SCREWDR…   ┆          ┆            ┆           ┆            ┆            │
│ C567686   ┆ 20728     ┆ LUNCH BAG  ┆ -10      ┆ 9/21/2011  ┆ 1.65      ┆ 17702      ┆ United     │
│           ┆           ┆ CARS BLUE  ┆          ┆ 16:42      ┆           ┆            ┆ Kingdom    │
│ C568416   ┆ 23168     ┆ CLASSIC    ┆ -6       ┆ 9/27/2011  ┆ 1.04      ┆ 14866      ┆ United     │
│           ┆           ┆ CAFE SUGAR ┆          ┆ 11:08      ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ DISPENSER  ┆          ┆            ┆           ┆            ┆            │
│ C547582   ┆ 23194     ┆ GYMKHANA   ┆ -3       ┆ 3/24/2011  ┆ 2.25      ┆ 12474      ┆ Germany    │
│           ┆           ┆ TREASURE   ┆          ┆ 11:06      ┆           ┆            ┆            │
│           ┆           ┆ BOOK BOX   ┆          ┆            ┆           ┆            ┆            │
│ C541735   ┆ 22908     ┆ PACK OF 20 ┆ -2       ┆ 1/21/2011  ┆ 0.85      ┆ 12626      ┆ Germany    │
│           ┆           ┆ NAPKINS    ┆          ┆ 11:35      ┆           ┆            ┆            │
│           ┆           ┆ RED APPLES ┆          ┆            ┆           ┆            ┆            │
│ …         ┆ …         ┆ …          ┆ …        ┆ …          ┆ …         ┆ …          ┆ …          │
│ C577399   ┆ 22138     ┆ BAKING SET ┆ -1       ┆ 11/18/2011 ┆ 4.95      ┆ 13895      ┆ United     │
│           ┆           ┆ 9 PIECE    ┆          ┆ 17:15      ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ RETROSPOT  ┆          ┆            ┆           ┆            ┆            │
│ C569946   ┆ 22487     ┆ WHITE WOOD ┆ -4       ┆ 10/6/2011  ┆ 8.5       ┆ 16462      ┆ United     │
│           ┆           ┆ GARDEN     ┆          ┆ 18:16      ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ PLANT      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ LADDER     ┆          ┆            ┆           ┆            ┆            │
│ 579755    ┆ 84912B    ┆ damaged    ┆ -14      ┆ 11/30/2011 ┆ 0.0       ┆ null       ┆ United     │
│           ┆           ┆            ┆          ┆ 14:54      ┆           ┆            ┆ Kingdom    │
│ C565848   ┆ 21479     ┆ WHITE      ┆ -1       ┆ 9/7/2011   ┆ 4.25      ┆ 14606      ┆ United     │
│           ┆           ┆ SKULL HOT  ┆          ┆ 12:48      ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ WATER      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ BOTTLE     ┆          ┆            ┆           ┆            ┆            │
│ C556493   ┆ 82486     ┆ WOOD S/3   ┆ -1       ┆ 6/12/2011  ┆ 8.95      ┆ 17802      ┆ United     │
│           ┆           ┆ CABINET    ┆          ┆ 14:56      ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ ANT WHITE  ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ FIN…       ┆          ┆            ┆           ┆            ┆            │
└───────────┴───────────┴────────────┴──────────┴────────────┴───────────┴────────────┴────────────┘

EXPLICAR PORQUE LOS NEGATIVOS NO LOS VAMOS A USAR COMO DEVOLUCIONES

Tenemos unos cuantos tambien, tanto valores negaticos en la cantidad, como en el precio por unidad. Evidentemente tenemos que eliminar estos valores negativos porque no tienen ni pies ni cabeza.

In [220]:
df = df.filter(~((pl.col("Quantity") < 0) | (pl.col("UnitPrice") < 0)))
df

shape: (525_460, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 560225    ┆ 22730     ┆ ALARM CLOCK  ┆ 1        ┆ 7/15/2011   ┆ 7.46      ┆ null       ┆ United  │
│           ┆           ┆ BAKELIKE     ┆          ┆ 16:27       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ IVORY        ┆          ┆             ┆           ┆            ┆         │
│ 561515    ┆ 20902     ┆ VINTAGE      ┆ 2        ┆ 7/27/2011   ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ KEEPSAKE BOX ┆          ┆ 15:16       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PARIS DAY…   ┆          ┆             ┆           ┆            ┆         │
│ 577258    ┆ 22698     ┆ PINK REGENCY ┆ 1        ┆ 11/18/2011  ┆ 2.95      ┆ 16764      ┆ United  │
│           ┆           ┆ TEACUP AND   ┆          ┆ 12:27       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SAUCER       ┆          ┆             ┆           ┆            ┆         │
│ 578263    ┆ 85019B    ┆ BLOSSOM      ┆ 24       ┆ 11/23/2011  ┆ 1.25      ┆ 17422      ┆ United  │
│           ┆           ┆ IMAGES       ┆          ┆ 13:27       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ NOTEBOOK SET ┆          ┆             ┆           ┆            ┆         │
│ 552018    ┆ 22431     ┆ WATERING CAN ┆ 6        ┆ 5/5/2011    ┆ 1.95      ┆ 16817      ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆ 17:42       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ELEPHANT     ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 536846    ┆ 22469     ┆ HEART OF     ┆ 2        ┆ 12/2/2010   ┆ 1.65      ┆ 14573      ┆ United  │
│           ┆           ┆ WICKER SMALL ┆          ┆ 19:59       ┆           ┆            ┆ Kingdom │
│ 563094    ┆ 22154     ┆ ANGEL        ┆ 48       ┆ 8/11/2011   ┆ 0.42      ┆ 14525      ┆ United  │
│           ┆           ┆ DECORATION 3 ┆          ┆ 17:35       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BUTTONS      ┆          ┆             ┆           ┆            ┆         │
│ 548700    ┆ 22981     ┆ PANTRY APPLE ┆ 1        ┆ 4/3/2011    ┆ 1.45      ┆ 13623      ┆ United  │
│           ┆           ┆ CORER        ┆          ┆ 11:11       ┆           ┆            ┆ Kingdom │
│ 542716    ┆ 22296     ┆ HEART IVORY  ┆ 24       ┆ 1/31/2011   ┆ 1.65      ┆ 16407      ┆ United  │
│           ┆           ┆ TRELLIS      ┆          ┆ 14:02       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LARGE        ┆          ┆             ┆           ┆            ┆         │
│ 554489    ┆ 22434     ┆ BALLOON PUMP ┆ 8        ┆ 5/24/2011   ┆ 1.95      ┆ 17272      ┆ United  │
│           ┆           ┆ WITH 10      ┆          ┆ 13:46       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BALLOONS     ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Es el turno de la fecha de facturacion, vamos a transformar la columna a tipo date

In [221]:
df = df.with_columns(pl.col("InvoiceDate").str.strptime(pl.Date, "%m/%d/%Y %H:%M"))
df

shape: (525_460, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 560225    ┆ 22730     ┆ ALARM CLOCK  ┆ 1        ┆ 2011-07-15  ┆ 7.46      ┆ null       ┆ United  │
│           ┆           ┆ BAKELIKE     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ IVORY        ┆          ┆             ┆           ┆            ┆         │
│ 561515    ┆ 20902     ┆ VINTAGE      ┆ 2        ┆ 2011-07-27  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ KEEPSAKE BOX ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PARIS DAY…   ┆          ┆             ┆           ┆            ┆         │
│ 577258    ┆ 22698     ┆ PINK REGENCY ┆ 1        ┆ 2011-11-18  ┆ 2.95      ┆ 16764      ┆ United  │
│           ┆           ┆ TEACUP AND   ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SAUCER       ┆          ┆             ┆           ┆            ┆         │
│ 578263    ┆ 85019B    ┆ BLOSSOM      ┆ 24       ┆ 2011-11-23  ┆ 1.25      ┆ 17422      ┆ United  │
│           ┆           ┆ IMAGES       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ NOTEBOOK SET ┆          ┆             ┆           ┆            ┆         │
│ 552018    ┆ 22431     ┆ WATERING CAN ┆ 6        ┆ 2011-05-05  ┆ 1.95      ┆ 16817      ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ELEPHANT     ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 536846    ┆ 22469     ┆ HEART OF     ┆ 2        ┆ 2010-12-02  ┆ 1.65      ┆ 14573      ┆ United  │
│           ┆           ┆ WICKER SMALL ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 563094    ┆ 22154     ┆ ANGEL        ┆ 48       ┆ 2011-08-11  ┆ 0.42      ┆ 14525      ┆ United  │
│           ┆           ┆ DECORATION 3 ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BUTTONS      ┆          ┆             ┆           ┆            ┆         │
│ 548700    ┆ 22981     ┆ PANTRY APPLE ┆ 1        ┆ 2011-04-03  ┆ 1.45      ┆ 13623      ┆ United  │
│           ┆           ┆ CORER        ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 542716    ┆ 22296     ┆ HEART IVORY  ┆ 24       ┆ 2011-01-31  ┆ 1.65      ┆ 16407      ┆ United  │
│           ┆           ┆ TRELLIS      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LARGE        ┆          ┆             ┆           ┆            ┆         │
│ 554489    ┆ 22434     ┆ BALLOON PUMP ┆ 8        ┆ 2011-05-24  ┆ 1.95      ┆ 17272      ┆ United  │
│           ┆           ┆ WITH 10      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BALLOONS     ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Lo siguiente sera buscar outliers

In [222]:
df.describe()

shape: (9, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ InvoiceNo ┆ StockCode ┆ Descripti ┆ … ┆ InvoiceDa ┆ UnitPrice ┆ CustomerI ┆ Country  │
│ ---       ┆ ---       ┆ ---       ┆ on        ┆   ┆ te        ┆ ---       ┆ D         ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ str      │
│           ┆           ┆           ┆ str       ┆   ┆ str       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 525460    ┆ 525460    ┆ 525460    ┆ … ┆ 525460    ┆ 525460.0  ┆ 392732.0  ┆ 525460   │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0.0       ┆ 132728.0  ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-0 ┆ 3.918228  ┆ 15287.734 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 4 00:41:4 ┆           ┆ 822       ┆          │
│           ┆           ┆           ┆           ┆   ┆ 5.379000  ┆           ┆           ┆          │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ 36.07327  ┆ 1713.5677 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 73        ┆          │
│ min       ┆ 536365    ┆ 10002     ┆ 4 PURPLE  ┆ … ┆ 2010-12-0 ┆ 0.0       ┆ 12346.0   ┆ Australi │
│           ┆           ┆           ┆ FLOCK     ┆   ┆ 1         ┆           ┆           ┆ a        │
│           ┆           ┆           ┆ DINNER    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ CANDLES   ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-03-2 ┆ 1.25      ┆ 13955.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 8         ┆           ┆           ┆          │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-2 ┆ 2.08      ┆ 15150.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 0         ┆           ┆           ┆          │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-10-1 ┆ 4.13      ┆ 16791.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 9         ┆           ┆           ┆          │
│ max       ┆ A563185   ┆ m         ┆ wrongly   ┆ … ┆ 2011-12-0 ┆ 13541.33  ┆ 18287.0   ┆ Unspecif │
│           ┆           ┆           ┆ sold      ┆   ┆ 9         ┆           ┆           ┆ ied      │
│           ┆           ┆           ┆ (22719)   ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ barcode   ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Encontramos cosas un poco raras:

El valor minimo de precio por unidad no puede ser 0, aunque puedan ser regalos que se hacen al comprar ciertos articulos es algo excepcional y necesitamos calcular las ventas por dia lo mas normalizadas posibles.
filtraremos por un minimo de .1

In [223]:
df.filter(pl.col("UnitPrice") < .1)

shape: (829, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 558340    ┆ 22678     ┆ FRENCH BLUE  ┆ 2        ┆ 2011-06-28  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ METAL DOOR   ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SIGN 3       ┆          ┆             ┆           ┆            ┆         │
│ 568703    ┆ 16218     ┆ CARTOON      ┆ 240      ┆ 2011-09-28  ┆ 0.06      ┆ 12748      ┆ United  │
│           ┆           ┆ PENCIL       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SHARPENERS   ┆          ┆             ┆           ┆            ┆         │
│ 559466    ┆ 17136A    ┆ BLUE STONES  ┆ 24       ┆ 2011-07-08  ┆ 0.08      ┆ 15679      ┆ United  │
│           ┆           ┆ ON WIRE FOR  ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│ 545176    ┆ 20615     ┆ BLUE         ┆ 3        ┆ 2011-02-28  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ POLKADOT     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PASSPORT     ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ COVER        ┆          ┆             ┆           ┆            ┆         │
│ 577947    ┆ 21992     ┆ check        ┆ 13       ┆ 2011-11-22  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆              ┆          ┆             ┆           ┆            ┆ Kingdom │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 538348    ┆ 22734     ┆ amazon       ┆ 30       ┆ 2010-12-10  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆              ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 540832    ┆ 20724     ┆ RED          ┆ 1        ┆ 2011-01-11  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CHARLOTTE    ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ BAG          ┆          ┆             ┆           ┆            ┆         │
│ 537534    ┆ 22524     ┆ CHILDRENS    ┆ 3        ┆ 2010-12-07  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ GARDEN       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ GLOVES BLUE  ┆          ┆             ┆           ┆            ┆         │
│ 558340    ┆ 48184     ┆ DOORMAT      ┆ 3        ┆ 2011-06-28  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ ENGLISH ROSE ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 537534    ┆ 21116     ┆ OWL DOORSTOP ┆ 1        ┆ 2010-12-07  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆              ┆          ┆             ┆           ┆            ┆ Kingdom │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Tenemos 40 casos que tenemos que eliminar

In [224]:
df = df.filter(pl.col("UnitPrice") > .1)
df

shape: (524_578, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 560225    ┆ 22730     ┆ ALARM CLOCK  ┆ 1        ┆ 2011-07-15  ┆ 7.46      ┆ null       ┆ United  │
│           ┆           ┆ BAKELIKE     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ IVORY        ┆          ┆             ┆           ┆            ┆         │
│ 561515    ┆ 20902     ┆ VINTAGE      ┆ 2        ┆ 2011-07-27  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ KEEPSAKE BOX ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PARIS DAY…   ┆          ┆             ┆           ┆            ┆         │
│ 577258    ┆ 22698     ┆ PINK REGENCY ┆ 1        ┆ 2011-11-18  ┆ 2.95      ┆ 16764      ┆ United  │
│           ┆           ┆ TEACUP AND   ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SAUCER       ┆          ┆             ┆           ┆            ┆         │
│ 578263    ┆ 85019B    ┆ BLOSSOM      ┆ 24       ┆ 2011-11-23  ┆ 1.25      ┆ 17422      ┆ United  │
│           ┆           ┆ IMAGES       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ NOTEBOOK SET ┆          ┆             ┆           ┆            ┆         │
│ 552018    ┆ 22431     ┆ WATERING CAN ┆ 6        ┆ 2011-05-05  ┆ 1.95      ┆ 16817      ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ELEPHANT     ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 536846    ┆ 22469     ┆ HEART OF     ┆ 2        ┆ 2010-12-02  ┆ 1.65      ┆ 14573      ┆ United  │
│           ┆           ┆ WICKER SMALL ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 563094    ┆ 22154     ┆ ANGEL        ┆ 48       ┆ 2011-08-11  ┆ 0.42      ┆ 14525      ┆ United  │
│           ┆           ┆ DECORATION 3 ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BUTTONS      ┆          ┆             ┆           ┆            ┆         │
│ 548700    ┆ 22981     ┆ PANTRY APPLE ┆ 1        ┆ 2011-04-03  ┆ 1.45      ┆ 13623      ┆ United  │
│           ┆           ┆ CORER        ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 542716    ┆ 22296     ┆ HEART IVORY  ┆ 24       ┆ 2011-01-31  ┆ 1.65      ┆ 16407      ┆ United  │
│           ┆           ┆ TRELLIS      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LARGE        ┆          ┆             ┆           ┆            ┆         │
│ 554489    ┆ 22434     ┆ BALLOON PUMP ┆ 8        ┆ 2011-05-24  ┆ 1.95      ┆ 17272      ┆ United  │
│           ┆           ┆ WITH 10      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BALLOONS     ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Siguiendo con las cosas un poco raras que habiamos detectado, en la parte de country habiamos visto un "unspecified"

In [225]:
df.filter(pl.col("Country") == "Unspecified" )

shape: (442, 8)
┌───────────┬───────────┬────────────┬──────────┬────────────┬───────────┬────────────┬────────────┐
│ InvoiceNo ┆ StockCode ┆ Descriptio ┆ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ CustomerID ┆ Country    │
│ ---       ┆ ---       ┆ n          ┆ ---      ┆ e          ┆ ---       ┆ ---        ┆ ---        │
│ str       ┆ str       ┆ ---        ┆ i64      ┆ ---        ┆ f64       ┆ i64        ┆ str        │
│           ┆           ┆ str        ┆          ┆ date       ┆           ┆            ┆            │
╞═══════════╪═══════════╪════════════╪══════════╪════════════╪═══════════╪════════════╪════════════╡
│ 561658    ┆ 22900     ┆ SET 2 TEA  ┆ 1        ┆ 2011-07-28 ┆ 3.25      ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ TOWELS I   ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ LOVE       ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ LONDON…    ┆          ┆            ┆           ┆            ┆            │
│ 561661    ┆ 22437     ┆ SET OF 9   ┆ 10       ┆ 2011-07-28 ┆ 0.85      ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ BLACK      ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ SKULL      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ BALLOONS   ┆          ┆            ┆           ┆            ┆            │
│ 576646    ┆ 22326     ┆ ROUND      ┆ 6        ┆ 2011-11-16 ┆ 2.95      ┆ null       ┆ Unspecifie │
│           ┆           ┆ SNACK      ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ BOXES SET  ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ OF4 WOOD…  ┆          ┆            ┆           ┆            ┆            │
│ 559521    ┆ 21892     ┆ TRADITIONA ┆ 8        ┆ 2011-07-08 ┆ 1.25      ┆ null       ┆ Unspecifie │
│           ┆           ┆ L WOODEN   ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ CATCH CUP  ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ G…         ┆          ┆            ┆           ┆            ┆            │
│ 565303    ┆ 11001     ┆ ASSTD      ┆ 16       ┆ 2011-09-02 ┆ 1.69      ┆ null       ┆ Unspecifie │
│           ┆           ┆ DESIGN     ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ RACING CAR ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ PEN        ┆          ┆            ┆           ┆            ┆            │
│ …         ┆ …         ┆ …          ┆ …        ┆ …          ┆ …         ┆ …          ┆ …          │
│ 559521    ┆ 23242     ┆ TREASURE   ┆ 1        ┆ 2011-07-08 ┆ 2.08      ┆ null       ┆ Unspecifie │
│           ┆           ┆ TIN        ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ BUFFALO    ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ BILL       ┆          ┆            ┆           ┆            ┆            │
│ 576646    ┆ 22556     ┆ PLASTERS   ┆ 12       ┆ 2011-11-16 ┆ 1.65      ┆ null       ┆ Unspecifie │
│           ┆           ┆ IN TIN     ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ CIRCUS     ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ PARADE     ┆          ┆            ┆           ┆            ┆            │
│ 565303    ┆ 22540     ┆ MINI       ┆ 3        ┆ 2011-09-02 ┆ 0.42      ┆ null       ┆ Unspecifie │
│           ┆           ┆ JIGSAW     ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ CIRCUS     ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ PARADE     ┆          ┆            ┆           ┆            ┆            │
│ 565303    ┆ 22196     ┆ SMALL      ┆ 1        ┆ 2011-09-02 ┆ 0.85      ┆ null       ┆ Unspecifie │
│           ┆           ┆ HEART      ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ MEASURING  ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ SPOONS     ┆          ┆            ┆           ┆            ┆            │
│ 561658    ┆ 21733     ┆ RED        ┆ 1        ┆ 2011-07-28 ┆ 2.95      ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ HANGING    ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ HEART      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ T-LIGHT    ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ HOLD…      ┆          ┆            ┆           ┆            ┆            │
└───────────┴───────────┴────────────┴──────────┴────────────┴───────────┴────────────┴────────────┘

Como en nuestro caso nos parece util y queremos agrupar las ventas por paises debemos eliminar las filas con "Unspecified"

In [226]:
df = df.filter(pl.col("Country") != "Unspecified" )
df

shape: (524_136, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 560225    ┆ 22730     ┆ ALARM CLOCK  ┆ 1        ┆ 2011-07-15  ┆ 7.46      ┆ null       ┆ United  │
│           ┆           ┆ BAKELIKE     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ IVORY        ┆          ┆             ┆           ┆            ┆         │
│ 561515    ┆ 20902     ┆ VINTAGE      ┆ 2        ┆ 2011-07-27  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ KEEPSAKE BOX ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PARIS DAY…   ┆          ┆             ┆           ┆            ┆         │
│ 577258    ┆ 22698     ┆ PINK REGENCY ┆ 1        ┆ 2011-11-18  ┆ 2.95      ┆ 16764      ┆ United  │
│           ┆           ┆ TEACUP AND   ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SAUCER       ┆          ┆             ┆           ┆            ┆         │
│ 578263    ┆ 85019B    ┆ BLOSSOM      ┆ 24       ┆ 2011-11-23  ┆ 1.25      ┆ 17422      ┆ United  │
│           ┆           ┆ IMAGES       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ NOTEBOOK SET ┆          ┆             ┆           ┆            ┆         │
│ 552018    ┆ 22431     ┆ WATERING CAN ┆ 6        ┆ 2011-05-05  ┆ 1.95      ┆ 16817      ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ELEPHANT     ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 536846    ┆ 22469     ┆ HEART OF     ┆ 2        ┆ 2010-12-02  ┆ 1.65      ┆ 14573      ┆ United  │
│           ┆           ┆ WICKER SMALL ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 563094    ┆ 22154     ┆ ANGEL        ┆ 48       ┆ 2011-08-11  ┆ 0.42      ┆ 14525      ┆ United  │
│           ┆           ┆ DECORATION 3 ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BUTTONS      ┆          ┆             ┆           ┆            ┆         │
│ 548700    ┆ 22981     ┆ PANTRY APPLE ┆ 1        ┆ 2011-04-03  ┆ 1.45      ┆ 13623      ┆ United  │
│           ┆           ┆ CORER        ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 542716    ┆ 22296     ┆ HEART IVORY  ┆ 24       ┆ 2011-01-31  ┆ 1.65      ┆ 16407      ┆ United  │
│           ┆           ┆ TRELLIS      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LARGE        ┆          ┆             ┆           ┆            ┆         │
│ 554489    ┆ 22434     ┆ BALLOON PUMP ┆ 8        ┆ 2011-05-24  ┆ 1.95      ┆ 17272      ┆ United  │
│           ┆           ┆ WITH 10      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BALLOONS     ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Algo raro tambien es que habia valores maximos muy altos en la cantidad y en el precio, es decir tenemos claramente outliers

Usaremos la formula del IQR para definir un limite superior e inferior

In [227]:
def calc_iqr_from_column_name(name:str)-> None:
    Q1 = df[name].quantile(0.25)
    Q3 = df[name].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    print(f"\nIQR for {name}")
    print(Q1, Q3, IQR, lower_bound, upper_bound)

calc_iqr_from_column_name("Quantity")
calc_iqr_from_column_name("UnitPrice")

IQR for Quantity
1.0 11.0 10.0 -14.0 26.0

IQR for UnitPrice
1.25 4.13 2.88 -3.0700000000000003 8.45

In [228]:
upper_bound_limit_condition = (pl.col("Quantity") > 27) | (pl.col("UnitPrice") > 7.5)

df.filter(upper_bound_limit_condition)

shape: (81_321, 8)
┌───────────┬───────────┬────────────┬──────────┬────────────┬───────────┬────────────┬────────────┐
│ InvoiceNo ┆ StockCode ┆ Descriptio ┆ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ CustomerID ┆ Country    │
│ ---       ┆ ---       ┆ n          ┆ ---      ┆ e          ┆ ---       ┆ ---        ┆ ---        │
│ str       ┆ str       ┆ ---        ┆ i64      ┆ ---        ┆ f64       ┆ i64        ┆ str        │
│           ┆           ┆ str        ┆          ┆ date       ┆           ┆            ┆            │
╞═══════════╪═══════════╪════════════╪══════════╪════════════╪═══════════╪════════════╪════════════╡
│ 578270    ┆ 23284     ┆ DOORMAT    ┆ 2        ┆ 2011-11-23 ┆ 16.63     ┆ 14096      ┆ United     │
│           ┆           ┆ KEEP CALM  ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ AND COME   ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ IN         ┆          ┆            ┆           ┆            ┆            │
│ 544812    ┆ 21662     ┆ VINTAGE    ┆ 1        ┆ 2011-02-23 ┆ 11.63     ┆ null       ┆ United     │
│           ┆           ┆ GLASS      ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ COFFEE     ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ CADDY      ┆          ┆            ┆           ┆            ┆            │
│ 537256    ┆ 21137     ┆ BLACK      ┆ 480      ┆ 2010-12-06 ┆ 3.39      ┆ 16210      ┆ United     │
│           ┆           ┆ RECORD     ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ COVER      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ FRAME      ┆          ┆            ┆           ┆            ┆            │
│ 559204    ┆ 21166     ┆ COOK WITH  ┆ 48       ┆ 2011-07-07 ┆ 1.85      ┆ 13798      ┆ United     │
│           ┆           ┆ WINE METAL ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ SIGN       ┆          ┆            ┆           ┆            ┆            │
│ 544672    ┆ 22356     ┆ CHARLOTTE  ┆ 100      ┆ 2011-02-22 ┆ 0.72      ┆ 14646      ┆ Netherland │
│           ┆           ┆ BAG PINK   ┆          ┆            ┆           ┆            ┆ s          │
│           ┆           ┆ POLKADOT   ┆          ┆            ┆           ┆            ┆            │
│ …         ┆ …         ┆ …          ┆ …        ┆ …          ┆ …         ┆ …          ┆ …          │
│ 540681    ┆ 84968F    ┆ SET OF 16  ┆ 1        ┆ 2011-01-10 ┆ 8.47      ┆ null       ┆ United     │
│           ┆           ┆ VINTAGE    ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ SKY BLUE   ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ CUT…       ┆          ┆            ┆           ┆            ┆            │
│ 551697    ┆ POST      ┆ POSTAGE    ┆ 1        ┆ 2011-05-03 ┆ 8142.75   ┆ 16029      ┆ United     │
│           ┆           ┆            ┆          ┆            ┆           ┆            ┆ Kingdom    │
│ 542602    ┆ 48194     ┆ DOORMAT    ┆ 2        ┆ 2011-01-30 ┆ 7.95      ┆ 15579      ┆ United     │
│           ┆           ┆ HEARTS     ┆          ┆            ┆           ┆            ┆ Kingdom    │
│ 553406    ┆ 46000M    ┆ POLYESTER  ┆ 50       ┆ 2011-05-17 ┆ 1.55      ┆ 14952      ┆ United     │
│           ┆           ┆ FILLER PAD ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ 45x45cm    ┆          ┆            ┆           ┆            ┆            │
│ 563094    ┆ 22154     ┆ ANGEL      ┆ 48       ┆ 2011-08-11 ┆ 0.42      ┆ 14525      ┆ United     │
│           ┆           ┆ DECORATION ┆          ┆            ┆           ┆            ┆ Kingdom    │
│           ┆           ┆ 3 BUTTONS  ┆          ┆            ┆           ┆            ┆            │
└───────────┴───────────┴────────────┴──────────┴────────────┴───────────┴────────────┴────────────┘

Eliminariamos bastantes, pero estaria lo mas normalizado posible, procedemos a eliminarlos

In [229]:
df = df.filter(~((pl.col("Quantity") > 27) | (pl.col("UnitPrice") > 7.5)))
df

shape: (442_815, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 560225    ┆ 22730     ┆ ALARM CLOCK  ┆ 1        ┆ 2011-07-15  ┆ 7.46      ┆ null       ┆ United  │
│           ┆           ┆ BAKELIKE     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ IVORY        ┆          ┆             ┆           ┆            ┆         │
│ 561515    ┆ 20902     ┆ VINTAGE      ┆ 2        ┆ 2011-07-27  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ KEEPSAKE BOX ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PARIS DAY…   ┆          ┆             ┆           ┆            ┆         │
│ 577258    ┆ 22698     ┆ PINK REGENCY ┆ 1        ┆ 2011-11-18  ┆ 2.95      ┆ 16764      ┆ United  │
│           ┆           ┆ TEACUP AND   ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SAUCER       ┆          ┆             ┆           ┆            ┆         │
│ 578263    ┆ 85019B    ┆ BLOSSOM      ┆ 24       ┆ 2011-11-23  ┆ 1.25      ┆ 17422      ┆ United  │
│           ┆           ┆ IMAGES       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ NOTEBOOK SET ┆          ┆             ┆           ┆            ┆         │
│ 552018    ┆ 22431     ┆ WATERING CAN ┆ 6        ┆ 2011-05-05  ┆ 1.95      ┆ 16817      ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ELEPHANT     ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545154    ┆ 22780     ┆ LIGHT        ┆ 4        ┆ 2011-02-28  ┆ 4.25      ┆ 12921      ┆ United  │
│           ┆           ┆ GARLAND      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BUTTERFILES  ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PINK         ┆          ┆             ┆           ┆            ┆         │
│ 536846    ┆ 22469     ┆ HEART OF     ┆ 2        ┆ 2010-12-02  ┆ 1.65      ┆ 14573      ┆ United  │
│           ┆           ┆ WICKER SMALL ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 548700    ┆ 22981     ┆ PANTRY APPLE ┆ 1        ┆ 2011-04-03  ┆ 1.45      ┆ 13623      ┆ United  │
│           ┆           ┆ CORER        ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 542716    ┆ 22296     ┆ HEART IVORY  ┆ 24       ┆ 2011-01-31  ┆ 1.65      ┆ 16407      ┆ United  │
│           ┆           ┆ TRELLIS      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LARGE        ┆          ┆             ┆           ┆            ┆         │
│ 554489    ┆ 22434     ┆ BALLOON PUMP ┆ 8        ┆ 2011-05-24  ┆ 1.95      ┆ 17272      ┆ United  │
│           ┆           ┆ WITH 10      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BALLOONS     ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

In [230]:
df.describe()

shape: (9, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ InvoiceNo ┆ StockCode ┆ Descripti ┆ … ┆ InvoiceDa ┆ UnitPrice ┆ CustomerI ┆ Country  │
│ ---       ┆ ---       ┆ ---       ┆ on        ┆   ┆ te        ┆ ---       ┆ D         ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ str      │
│           ┆           ┆           ┆ str       ┆   ┆ str       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 442815    ┆ 442815    ┆ 442815    ┆ … ┆ 442815    ┆ 442815.0  ┆ 332940.0  ┆ 442815   │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0.0       ┆ 109875.0  ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-0 ┆ 2.388613  ┆ 15319.914 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 5 19:17:4 ┆           ┆ 015       ┆          │
│           ┆           ┆           ┆           ┆   ┆ 0.866000  ┆           ┆           ┆          │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ 1.630417  ┆ 1710.8084 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 83        ┆          │
│ min       ┆ 536365    ┆ 10002     ┆ 4 PURPLE  ┆ … ┆ 2010-12-0 ┆ 0.12      ┆ 12347.0   ┆ Australi │
│           ┆           ┆           ┆ FLOCK     ┆   ┆ 1         ┆           ┆           ┆ a        │
│           ┆           ┆           ┆ DINNER    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ CANDLES   ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-03-2 ┆ 1.25      ┆ 13988.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 9         ┆           ┆           ┆          │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-2 ┆ 1.95      ┆ 15235.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 2         ┆           ┆           ┆          │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-10-2 ┆ 3.29      ┆ 16814.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 0         ┆           ┆           ┆          │
│ max       ┆ 581587    ┆ m         ┆ ZINC WIRE ┆ … ┆ 2011-12-0 ┆ 7.5       ┆ 18287.0   ┆ United   │
│           ┆           ┆           ┆ SWEETHEAR ┆   ┆ 9         ┆           ┆           ┆ Kingdom  │
│           ┆           ┆           ┆ T LETTER  ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ TR…       ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Viendo que el objetivo es predecir el valor total de ventas por dia, haremos los siguientes cambios sobre el dataset:

InvoiceNO,StockCode,Description, CustomerID: Estas columnas son muy interesantes para por ejemplo saber cuantos clientes habituales tiene cada pais, que productos se compran mas, media de productos por factura

Claro, en este caso no las necesitamos para predecir cuanto vamos a ganar en un dia,

En nuestro caso yo dejaria la columna de Country, ya que creo que a la hora de predecir las ventas diarias es muy interesante segmentar por paises, para saber cuantas ventas diarias, tiene uno u otro y que sea util para saber en que pais se pueden aumentar las ganancias o cual esta dando muchas perdidas.

In [231]:
df = df.drop("InvoiceNo","StockCode","Description", "CustomerID")
df

shape: (442_815, 4)
┌──────────┬─────────────┬───────────┬────────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        │
│ ---      ┆ ---         ┆ ---       ┆ ---            │
│ i64      ┆ date        ┆ f64       ┆ str            │
╞══════════╪═════════════╪═══════════╪════════════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ United Kingdom │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ United Kingdom │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ United Kingdom │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ United Kingdom │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ United Kingdom │
│ …        ┆ …           ┆ …         ┆ …              │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ United Kingdom │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ United Kingdom │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ United Kingdom │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ United Kingdom │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ United Kingdom │
└──────────┴─────────────┴───────────┴────────────────┘

Necesitaremos sacar una columna extra de Ventas totales, que sea el calculo de cantidad por precio por unidad

In [232]:
df = df.with_columns(
    (pl.col("Quantity") * pl.col("UnitPrice")).alias("TotalSales")
)
df

shape: (442_815, 5)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ United Kingdom ┆ 7.46       │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ United Kingdom ┆ 8.26       │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ United Kingdom ┆ 2.95       │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ United Kingdom ┆ 30.0       │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ United Kingdom ┆ 11.7       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ United Kingdom ┆ 17.0       │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ United Kingdom ┆ 3.3        │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ United Kingdom ┆ 1.45       │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ United Kingdom ┆ 39.6       │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ United Kingdom ┆ 15.6       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┘

Podemos agrupar por dias para ver la summa de ventas totales a modo de visualicacion.

In [233]:
df_daily_sales = df.group_by("InvoiceDate").agg([
    pl.col("Quantity").sum().alias("Total_Quantity"),
    (pl.col("Quantity") * pl.col("UnitPrice")).sum().alias("Total_Sales")  
])
df_daily_sales = df_daily_sales.sort("InvoiceDate")
df_daily_sales

shape: (305, 3)
┌─────────────┬────────────────┬─────────────┐
│ InvoiceDate ┆ Total_Quantity ┆ Total_Sales │
│ ---         ┆ ---            ┆ ---         │
│ date        ┆ i64            ┆ f64         │
╞═════════════╪════════════════╪═════════════╡
│ 2010-12-01  ┆ 12899          ┆ 26604.56    │
│ 2010-12-02  ┆ 12610          ┆ 23203.33    │
│ 2010-12-03  ┆ 8632           ┆ 19423.33    │
│ 2010-12-05  ┆ 10810          ┆ 20738.69    │
│ 2010-12-06  ┆ 13876          ┆ 30506.65    │
│ …           ┆ …              ┆ …           │
│ 2011-12-05  ┆ 24245          ┆ 45221.72    │
│ 2011-12-06  ┆ 16717          ┆ 26898.4     │
│ 2011-12-07  ┆ 16375          ┆ 27847.03    │
│ 2011-12-08  ┆ 20021          ┆ 38582.06    │
│ 2011-12-09  ┆ 7666           ┆ 15940.79    │
└─────────────┴────────────────┴─────────────┘

Haremos un ultimo describe para ver como ha quedado el dataset

In [234]:
df.describe()

shape: (9, 6)
┌────────────┬──────────┬────────────────────────────┬───────────┬────────────────┬────────────┐
│ statistic  ┆ Quantity ┆ InvoiceDate                ┆ UnitPrice ┆ Country        ┆ TotalSales │
│ ---        ┆ ---      ┆ ---                        ┆ ---       ┆ ---            ┆ ---        │
│ str        ┆ f64      ┆ str                        ┆ f64       ┆ str            ┆ f64        │
╞════════════╪══════════╪════════════════════════════╪═══════════╪════════════════╪════════════╡
│ count      ┆ 442815.0 ┆ 442815                     ┆ 442815.0  ┆ 442815         ┆ 442815.0   │
│ null_count ┆ 0.0      ┆ 0                          ┆ 0.0       ┆ 0              ┆ 0.0        │
│ mean       ┆ 6.33038  ┆ 2011-07-05 19:17:40.866000 ┆ 2.388613  ┆ null           ┆ 11.456598  │
│ std        ┆ 6.458147 ┆ null                       ┆ 1.630417  ┆ null           ┆ 12.759842  │
│ min        ┆ 1.0      ┆ 2010-12-01                 ┆ 0.12      ┆ Australia      ┆ 0.12       │
│ 25%        ┆ 1.0      ┆ 2011-03-29                 ┆ 1.25      ┆ null           ┆ 3.29       │
│ 50%        ┆ 4.0      ┆ 2011-07-22                 ┆ 1.95      ┆ null           ┆ 7.5        │
│ 75%        ┆ 10.0     ┆ 2011-10-20                 ┆ 3.29      ┆ null           ┆ 15.3       │
│ max        ┆ 27.0     ┆ 2011-12-09                 ┆ 7.5       ┆ United Kingdom ┆ 193.96     │
└────────────┴──────────┴────────────────────────────┴───────────┴────────────────┴────────────┘

Al parecer hay algo raro en las ventas totales el maximo es muy superior al tercer percentil, vamos a calcular el IQR para comprobar el limete superior

In [235]:
calc_iqr_from_column_name("TotalSales")

IQR for TotalSales
3.29 15.299999999999999 12.009999999999998 -14.724999999999998 33.315

Ahora filtramos por el limite superior

In [236]:
df.filter(df["TotalSales"] > 33.3)

shape: (20_718, 5)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╡
│ 24       ┆ 2011-10-30  ┆ 3.75      ┆ United Kingdom ┆ 90.0       │
│ 12       ┆ 2011-10-06  ┆ 3.75      ┆ Australia      ┆ 45.0       │
│ 7        ┆ 2011-09-27  ┆ 4.96      ┆ United Kingdom ┆ 34.72      │
│ 20       ┆ 2011-08-11  ┆ 4.96      ┆ United Kingdom ┆ 99.2       │
│ 24       ┆ 2011-08-22  ┆ 2.55      ┆ United Kingdom ┆ 61.2       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          │
│ 24       ┆ 2011-10-05  ┆ 1.65      ┆ Germany        ┆ 39.6       │
│ 12       ┆ 2011-09-22  ┆ 3.45      ┆ United Kingdom ┆ 41.4       │
│ 23       ┆ 2011-09-16  ┆ 2.46      ┆ United Kingdom ┆ 56.58      │
│ 24       ┆ 2011-11-17  ┆ 1.65      ┆ United Kingdom ┆ 39.6       │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ United Kingdom ┆ 39.6       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┘

Nos encontramos con mas de 20000 filas con valores mas altos de lo normal, para decidir si eliminarlos o no, vamos a crear dos nuevas variables, una que nos siga el dia de la semana y otra que nos diga si es
festivo en ese pais, todo esto es porque quizas estos valores tan altos son normales en relacion con el dia.

Primero el dia de la semana

In [237]:
import pandas as pd

# día de la semana siendo 1 el Lunes hasta 7 el Domingo
df = df.with_columns(pl.col("InvoiceDate").dt.weekday().alias("weekday"))

df

shape: (442_815, 6)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╪═════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ United Kingdom ┆ 7.46       ┆ 5       │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ United Kingdom ┆ 8.26       ┆ 3       │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ United Kingdom ┆ 2.95       ┆ 5       │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ United Kingdom ┆ 30.0       ┆ 3       │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ United Kingdom ┆ 11.7       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          ┆ …       │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ United Kingdom ┆ 17.0       ┆ 1       │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ United Kingdom ┆ 3.3        ┆ 4       │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ United Kingdom ┆ 1.45       ┆ 7       │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ United Kingdom ┆ 39.6       ┆ 1       │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ United Kingdom ┆ 15.6       ┆ 2       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┴─────────┘

Ahora toca calcular el festivo

Lo primero es sacar el codigo por pais y cambiar la columna dde Country por estos codigos mas sencillos de usar.

In [238]:
import pycountry
def get_country_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_2
    except LookupError:
        return None
countries = df["Country"].unique().to_list()
country_codes = {country: get_country_code(country) for country in countries}
country_codes

{'Malta': 'MT',
 'Lithuania': 'LT',
 'Cyprus': 'CY',
 'Israel': 'IL',
 'Germany': 'DE',
 'Saudi Arabia': 'SA',
 'Czech Republic': 'CZ',
 'Italy': 'IT',
 'Poland': 'PL',
 'European Community': None,
 'United Kingdom': 'GB',
 'Hong Kong': 'HK',
 'Spain': 'ES',
 'Lebanon': 'LB',
 'Japan': 'JP',
 'Denmark': 'DK',
 'Iceland': 'IS',
 'USA': 'US',
 'Greece': 'GR',
 'RSA': None,
 'Channel Islands': None,
 'Canada': 'CA',
 'Austria': 'AT',
 'Brazil': 'BR',
 'EIRE': None,
 'Australia': 'AU',
 'Norway': 'NO',
 'Bahrain': 'BH',
 'United Arab Emirates': 'AE',
 'Belgium': 'BE',
 'Netherlands': 'NL',
 'Singapore': 'SG',
 'Switzerland': 'CH',
 'Sweden': 'SE',
 'Finland': 'FI',
 'Portugal': 'PT',
 'France': 'FR'}

Antes de seguir vemos que hay algunos codigos con None, vamos a filtrarlos

In [239]:
{k: v for k, v in country_codes.items() if v is None}

{'European Community': None,
 'RSA': None,
 'Channel Islands': None,
 'EIRE': None}

Teniendo claro cuales son, vamos a hacer lo siguiente, vamos a eliminar European Community y channel islandds ya que no son un pais y como intentaremos predecir ventas por pais nos complica un poco la vida.

In [240]:
df = df.filter(~((df["Country"] == "European Community") | (df["Country"] == "Channel Islands")))
df

shape: (442_222, 6)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╪═════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ United Kingdom ┆ 7.46       ┆ 5       │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ United Kingdom ┆ 8.26       ┆ 3       │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ United Kingdom ┆ 2.95       ┆ 5       │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ United Kingdom ┆ 30.0       ┆ 3       │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ United Kingdom ┆ 11.7       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          ┆ …       │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ United Kingdom ┆ 17.0       ┆ 1       │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ United Kingdom ┆ 3.3        ┆ 4       │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ United Kingdom ┆ 1.45       ┆ 7       │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ United Kingdom ┆ 39.6       ┆ 1       │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ United Kingdom ┆ 15.6       ┆ 2       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┴─────────┘

Ahora Modificaremos a mano el nombre de RSA por South Africa y Eire por Ireland y dejaremos las Channel island como caso imposible ya que

In [241]:
manual_replacements = {
    "RSA": "South Africa",
    "EIRE": "Ireland"
}
df = df.with_columns(
    pl.col("Country").replace(manual_replacements)
)
df

shape: (442_222, 6)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╪═════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ United Kingdom ┆ 7.46       ┆ 5       │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ United Kingdom ┆ 8.26       ┆ 3       │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ United Kingdom ┆ 2.95       ┆ 5       │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ United Kingdom ┆ 30.0       ┆ 3       │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ United Kingdom ┆ 11.7       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          ┆ …       │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ United Kingdom ┆ 17.0       ┆ 1       │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ United Kingdom ┆ 3.3        ┆ 4       │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ United Kingdom ┆ 1.45       ┆ 7       │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ United Kingdom ┆ 39.6       ┆ 1       │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ United Kingdom ┆ 15.6       ┆ 2       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┴─────────┘

vovlemos a comprobar los country codes con None

In [242]:
countries = df["Country"].unique().to_list()
country_codes = {country: get_country_code(country) for country in countries}
{k: v for k, v in country_codes.items() if v is None}

{}

Perfecto ahora sobreescribiremos los valores de la columna country por los codigos

In [243]:
country_codes_without_none = {k: v for k, v in country_codes.items() if v is not None}

df = df.with_columns(
    pl.col("Country").replace(country_codes_without_none)
)
df

shape: (442_222, 6)
┌──────────┬─────────────┬───────────┬─────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str     ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪═════════╪════════════╪═════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ GB      ┆ 7.46       ┆ 5       │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ GB      ┆ 8.26       ┆ 3       │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ GB      ┆ 2.95       ┆ 5       │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ GB      ┆ 30.0       ┆ 3       │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ GB      ┆ 11.7       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …       ┆ …          ┆ …       │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ GB      ┆ 17.0       ┆ 1       │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ GB      ┆ 3.3        ┆ 4       │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ GB      ┆ 1.45       ┆ 7       │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ GB      ┆ 39.6       ┆ 1       │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ GB      ┆ 15.6       ┆ 2       │
└──────────┴─────────────┴───────────┴─────────┴────────────┴─────────┘

Lo siguiente es sacar los festivos

In [244]:
import holidays

years = df["InvoiceDate"].dt.year().unique().to_list()


holidays_dict = {}
for country in df["Country"].unique().to_list():
        try:
            holidays_dict[country] = holidays.country_holidays(country, years=years)
        except:
            print(f"{country} not found in holidays database")


holidays_dict

LB not found in holidays database

{'AU': {datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 4, 5): 'Easter Monday', datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 1, 26): 'Australia Day', datetime.date(2010, 4, 25): 'ANZAC Day', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 26): 'Boxing Day', datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 4, 25): 'ANZAC Day; Easter Monday', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 1, 26): 'Australia Day', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Boxing Day'},
 'CY': {datetime.date(2010, 1, 1): 'Πρωτοχρονιά', datetime.date(2010, 1, 6): 'Ημέρα των Θεοφανίων', datetime.date(2010, 2, 15): 'Καθαρά Δευτέρα', datetime.date(2010, 3, 25): 'Ημέρα της Ελληνικής Ανεξαρτησίας', datetime.date(2010, 4, 1): 'Εθνική Ημέρα Κύπρου', datetime.date(2010, 4, 2): 'Μεγάλη Παρασκευή', datetime.date(2010, 4, 4): 'Κυριακή του Πάσχα', datetime.date(2010, 4, 5): 'Δευτέρα της Διακαινησίμου', datetime.date(2010, 5, 1): 'Πρωτομαγιά', datetime.date(2010, 5, 24): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2010, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2010, 10, 1): 'Ημέρα της Κυπριακής Ανεξαρτησίας', datetime.date(2010, 10, 28): 'Ημέρα του Όχι', datetime.date(2010, 12, 25): 'Χριστούγεννα', datetime.date(2010, 12, 26): 'Επομένη Χριστουγέννων', datetime.date(2011, 1, 1): 'Πρωτοχρονιά', datetime.date(2011, 1, 6): 'Ημέρα των Θεοφανίων', datetime.date(2011, 3, 7): 'Καθαρά Δευτέρα', datetime.date(2011, 3, 25): 'Ημέρα της Ελληνικής Ανεξαρτησίας', datetime.date(2011, 4, 1): 'Εθνική Ημέρα Κύπρου', datetime.date(2011, 4, 22): 'Μεγάλη Παρασκευή', datetime.date(2011, 4, 24): 'Κυριακή του Πάσχα', datetime.date(2011, 4, 25): 'Δευτέρα της Διακαινησίμου', datetime.date(2011, 5, 1): 'Πρωτομαγιά', datetime.date(2011, 6, 13): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2011, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2011, 10, 1): 'Ημέρα της Κυπριακής Ανεξαρτησίας', datetime.date(2011, 10, 28): 'Ημέρα του Όχι', datetime.date(2011, 12, 25): 'Χριστούγεννα', datetime.date(2011, 12, 26): 'Επομένη Χριστουγέννων'},
 'NO': {datetime.date(2010, 1, 1): 'Første nyttårsdag', datetime.date(2010, 4, 1): 'Skjærtorsdag', datetime.date(2010, 4, 2): 'Langfredag', datetime.date(2010, 4, 4): 'Første påskedag', datetime.date(2010, 4, 5): 'Andre påskedag', datetime.date(2010, 5, 1): 'Arbeidernes dag', datetime.date(2010, 5, 17): 'Grunnlovsdag', datetime.date(2010, 5, 13): 'Kristi himmelfartsdag', datetime.date(2010, 5, 23): 'Første pinsedag', datetime.date(2010, 5, 24): 'Andre pinsedag', datetime.date(2010, 12, 25): 'Første juledag', datetime.date(2010, 12, 26): 'Andre juledag', datetime.date(2011, 1, 1): 'Første nyttårsdag', datetime.date(2011, 4, 21): 'Skjærtorsdag', datetime.date(2011, 4, 22): 'Langfredag', datetime.date(2011, 4, 24): 'Første påskedag', datetime.date(2011, 4, 25): 'Andre påskedag', datetime.date(2011, 5, 1): 'Arbeidernes dag', datetime.date(2011, 5, 17): 'Grunnlovsdag', datetime.date(2011, 6, 2): 'Kristi himmelfartsdag', datetime.date(2011, 6, 12): 'Første pinsedag', datetime.date(2011, 6, 13): 'Andre pinsedag', datetime.date(2011, 12, 25): 'Første juledag', datetime.date(2011, 12, 26): 'Andre juledag'},
 'ES': {datetime.date(2010, 1, 1): 'Año nuevo', datetime.date(2010, 1, 6): 'Epifanía del Señor', datetime.date(2010, 4, 2): 'Viernes Santo', datetime.date(2010, 5, 1): 'Fiesta del Trabajo', datetime.date(2010, 10, 12): 'Fiesta Nacional de España', datetime.date(2010, 11, 1): 'Todos los Santos', datetime.date(2010, 12, 6): 'Día de la Constitución Española', datetime.date(2010, 12, 8): 'Inmaculada Concepción', datetime.date(2010, 12, 25): 'Natividad del Señor', datetime.date(2011, 1, 1): 'Año nuevo', datetime.date(2011, 1, 6): 'Epifanía del Señor', datetime.date(2011, 4, 22): 'Viernes Santo', datetime.date(2011, 8, 15): 'Asunción de la Virgen', datetime.date(2011, 10, 12): 'Fiesta Nacional de España', datetime.date(2011, 11, 1): 'Todos los Santos', datetime.date(2011, 12, 6): 'Día de la Constitución Española', datetime.date(2011, 12, 8): 'Inmaculada Concepción'},
 'GR': {datetime.date(2010, 1, 1): 'Πρωτοχρονιά', datetime.date(2010, 1, 6): 'Θεοφάνεια', datetime.date(2010, 2, 15): 'Καθαρά Δευτέρα', datetime.date(2010, 3, 25): 'Εικοστή Πέμπτη Μαρτίου', datetime.date(2010, 4, 2): 'Μεγάλη Παρασκευή', datetime.date(2010, 4, 5): 'Δευτέρα του Πάσχα', datetime.date(2010, 5, 24): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2010, 5, 1): 'Εργατική Πρωτομαγιά', datetime.date(2010, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2010, 10, 28): 'Ημέρα του Όχι', datetime.date(2010, 12, 25): 'Χριστούγεννα', datetime.date(2010, 12, 26): 'Σύναξη της Υπεραγίας Θεοτόκου', datetime.date(2011, 1, 1): 'Πρωτοχρονιά', datetime.date(2011, 1, 6): 'Θεοφάνεια', datetime.date(2011, 3, 7): 'Καθαρά Δευτέρα', datetime.date(2011, 3, 25): 'Εικοστή Πέμπτη Μαρτίου', datetime.date(2011, 4, 22): 'Μεγάλη Παρασκευή', datetime.date(2011, 4, 25): 'Δευτέρα του Πάσχα', datetime.date(2011, 6, 13): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2011, 5, 1): 'Εργατική Πρωτομαγιά', datetime.date(2011, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2011, 10, 28): 'Ημέρα του Όχι', datetime.date(2011, 12, 25): 'Χριστούγεννα', datetime.date(2011, 12, 26): 'Σύναξη της Υπεραγίας Θεοτόκου'},
 'GB': {datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 5, 3): 'May Day', datetime.date(2010, 5, 31): 'Spring Bank Holiday', datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 27): 'Christmas Day (observed)', datetime.date(2010, 12, 26): 'Boxing Day', datetime.date(2010, 12, 28): 'Boxing Day (observed)', datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 5, 2): 'May Day', datetime.date(2011, 5, 30): 'Spring Bank Holiday', datetime.date(2011, 4, 29): 'Wedding of William and Catherine', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 1, 3): "New Year's Day (observed)", datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 27): 'Christmas Day (observed)', datetime.date(2011, 12, 26): 'Boxing Day'},
 'FR': {datetime.date(2010, 1, 1): "Jour de l'an", datetime.date(2010, 5, 1): 'Fête du Travail', datetime.date(2010, 5, 8): 'Fête de la Victoire', datetime.date(2010, 7, 14): 'Fête nationale', datetime.date(2010, 11, 11): 'Armistice', datetime.date(2010, 4, 5): 'Lundi de Pâques', datetime.date(2010, 5, 24): 'Lundi de Pentecôte', datetime.date(2010, 5, 13): 'Ascension', datetime.date(2010, 8, 15): 'Assomption', datetime.date(2010, 11, 1): 'Toussaint', datetime.date(2010, 12, 25): 'Noël', datetime.date(2011, 1, 1): "Jour de l'an", datetime.date(2011, 5, 1): 'Fête du Travail', datetime.date(2011, 5, 8): 'Fête de la Victoire', datetime.date(2011, 7, 14): 'Fête nationale', datetime.date(2011, 11, 11): 'Armistice', datetime.date(2011, 4, 25): 'Lundi de Pâques', datetime.date(2011, 6, 13): 'Lundi de Pentecôte', datetime.date(2011, 6, 2): 'Ascension', datetime.date(2011, 8, 15): 'Assomption', datetime.date(2011, 11, 1): 'Toussaint', datetime.date(2011, 12, 25): 'Noël'},
 'US': {datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 12, 31): "New Year's Day (observed)", datetime.date(2010, 5, 31): 'Memorial Day', datetime.date(2010, 7, 4): 'Independence Day', datetime.date(2010, 7, 5): 'Independence Day (observed)', datetime.date(2010, 9, 6): 'Labor Day', datetime.date(2010, 11, 11): 'Veterans Day', datetime.date(2010, 11, 25): 'Thanksgiving', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 24): 'Christmas Day (observed)', datetime.date(2010, 1, 18): 'Martin Luther King Jr. Day', datetime.date(2010, 2, 15): "Washington's Birthday", datetime.date(2010, 10, 11): 'Columbus Day', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 5, 30): 'Memorial Day', datetime.date(2011, 7, 4): 'Independence Day', datetime.date(2011, 9, 5): 'Labor Day', datetime.date(2011, 11, 11): 'Veterans Day', datetime.date(2011, 11, 24): 'Thanksgiving', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Christmas Day (observed)', datetime.date(2011, 1, 17): 'Martin Luther King Jr. Day', datetime.date(2011, 2, 21): "Washington's Birthday", datetime.date(2011, 10, 10): 'Columbus Day'},
 'CH': {datetime.date(2010, 1, 1): 'Neujahrstag', datetime.date(2010, 5, 13): 'Auffahrt', datetime.date(2010, 8, 1): 'Nationalfeiertag', datetime.date(2010, 12, 25): 'Weihnachten', datetime.date(2011, 1, 1): 'Neujahrstag', datetime.date(2011, 6, 2): 'Auffahrt', datetime.date(2011, 8, 1): 'Nationalfeiertag', datetime.date(2011, 12, 25): 'Weihnachten'},
 'ZA': {datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 4, 5): 'Family Day', datetime.date(2010, 12, 16): 'Day of Reconciliation', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 26): 'Day of Goodwill', datetime.date(2010, 12, 27): 'Day of Goodwill (observed)', datetime.date(2010, 3, 21): 'Human Rights Day', datetime.date(2010, 3, 22): 'Human Rights Day (observed)', datetime.date(2010, 4, 27): 'Freedom Day', datetime.date(2010, 5, 1): "Workers' Day", datetime.date(2010, 6, 16): 'Youth Day', datetime.date(2010, 8, 9): "National Women's Day", datetime.date(2010, 9, 24): 'Heritage Day', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 4, 25): 'Family Day', datetime.date(2011, 12, 16): 'Day of Reconciliation', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Day of Goodwill', datetime.date(2011, 3, 21): 'Human Rights Day', datetime.date(2011, 4, 27): 'Freedom Day', datetime.date(2011, 5, 1): "Workers' Day", datetime.date(2011, 5, 2): "Workers' Day (observed)", datetime.date(2011, 6, 16): 'Youth Day', datetime.date(2011, 8, 9): "National Women's Day", datetime.date(2011, 9, 24): 'Heritage Day', datetime.date(2011, 5, 18): 'Local government elections', datetime.date(2011, 12, 27): 'Public holiday by presidential decree'},
 'SG': {datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 2, 14): 'Chinese New Year', datetime.date(2010, 2, 15): 'Chinese New Year', datetime.date(2010, 9, 10): 'Hari Raya Puasa', datetime.date(2010, 11, 17): 'Hari Raya Haji', datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 5, 1): 'Labour Day', datetime.date(2010, 5, 28): 'Vesak Day', datetime.date(2010, 8, 9): 'National Day', datetime.date(2010, 11, 5): 'Deepavali', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 2, 16): 'Chinese New Year (observed)', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 2, 3): 'Chinese New Year', datetime.date(2011, 2, 4): 'Chinese New Year', datetime.date(2011, 8, 30): 'Hari Raya Puasa', datetime.date(2011, 11, 6): 'Hari Raya Haji', datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 5, 1): 'Labour Day', datetime.date(2011, 5, 17): 'Vesak Day', datetime.date(2011, 8, 9): 'National Day', datetime.date(2011, 10, 26): 'Deepavali', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 5, 2): 'Labour Day (observed)', datetime.date(2011, 11, 7): 'Hari Raya Haji (observed)', datetime.date(2011, 12, 26): 'Christmas Day (observed)', datetime.date(2011, 5, 7): 'Polling Day'},
 'IE': {datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 3, 17): "Saint Patrick's Day", datetime.date(2010, 4, 5): 'Easter Monday', datetime.date(2010, 5, 3): 'May Day', datetime.date(2010, 6, 7): 'June Bank Holiday', datetime.date(2010, 8, 2): 'August Bank Holiday', datetime.date(2010, 10, 25): 'October Bank Holiday', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 26): "Saint Stephen's Day", datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 3, 17): "Saint Patrick's Day", datetime.date(2011, 4, 25): 'Easter Monday', datetime.date(2011, 5, 2): 'May Day', datetime.date(2011, 6, 6): 'June Bank Holiday', datetime.date(2011, 8, 1): 'August Bank Holiday', datetime.date(2011, 10, 31): 'October Bank Holiday', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): "Saint Stephen's Day", datetime.date(2011, 9, 14): 'National Day of Mourning'},
 'JP': {datetime.date(2010, 1, 1): '元日', datetime.date(2010, 1, 11): '成人の日', datetime.date(2010, 2, 11): '建国記念の日', datetime.date(2010, 3, 21): '春分の日', datetime.date(2010, 4, 29): '昭和の日', datetime.date(2010, 5, 3): '憲法記念日', datetime.date(2010, 5, 4): 'みどりの日', datetime.date(2010, 5, 5): 'こどもの日', datetime.date(2010, 7, 19): '海の日', datetime.date(2010, 9, 20): '敬老の日', datetime.date(2010, 9, 23): '秋分の日', datetime.date(2010, 10, 11): '体育の日', datetime.date(2010, 11, 3): '文化の日', datetime.date(2010, 11, 23): '勤労感謝の日', datetime.date(2010, 12, 23): '天皇誕生日', datetime.date(2010, 3, 22): '振替休日', datetime.date(2011, 1, 1): '元日', datetime.date(2011, 1, 10): '成人の日', datetime.date(2011, 2, 11): '建国記念の日', datetime.date(2011, 3, 21): '春分の日', datetime.date(2011, 4, 29): '昭和の日', datetime.date(2011, 5, 3): '憲法記念日', datetime.date(2011, 5, 4): 'みどりの日', datetime.date(2011, 5, 5): 'こどもの日', datetime.date(2011, 7, 18): '海の日', datetime.date(2011, 9, 19): '敬老の日', datetime.date(2011, 9, 23): '秋分の日', datetime.date(2011, 10, 10): '体育の日', datetime.date(2011, 11, 3): '文化の日', datetime.date(2011, 11, 23): '勤労感謝の日', datetime.date(2011, 12, 23): '天皇誕生日'},
 'MT': {datetime.date(2010, 1, 1): 'L-Ewwel tas-Sena', datetime.date(2010, 2, 10): "Il-Festa tan-Nawfraġju ta' San Pawl", datetime.date(2010, 3, 19): "Il-Festa ta' San Ġużepp", datetime.date(2010, 3, 31): 'Jum il-Ħelsien', datetime.date(2010, 4, 2): 'Il-Ġimgħa l-Kbira', datetime.date(2010, 5, 1): 'Jum il-Ħaddiem', datetime.date(2010, 6, 7): 'Sette Giugno', datetime.date(2010, 6, 29): "Il-Festa ta' San Pietru u San Pawl", datetime.date(2010, 8, 15): "Il-Festa ta' Santa Marija", datetime.date(2010, 9, 8): 'Jum il-Vitorja', datetime.date(2010, 9, 21): 'Jum l-Indipendenza', datetime.date(2010, 12, 8): 'Il-Festa tal-Immakulata Kunċizzjoni', datetime.date(2010, 12, 13): 'Jum ir-Repubblika', datetime.date(2010, 12, 25): 'Il-Milied', datetime.date(2011, 1, 1): 'L-Ewwel tas-Sena', datetime.date(2011, 2, 10): "Il-Festa tan-Nawfraġju ta' San Pawl", datetime.date(2011, 3, 19): "Il-Festa ta' San Ġużepp", datetime.date(2011, 3, 31): 'Jum il-Ħelsien', datetime.date(2011, 4, 22): 'Il-Ġimgħa l-Kbira', datetime.date(2011, 5, 1): 'Jum il-Ħaddiem', datetime.date(2011, 6, 7): 'Sette Giugno', datetime.date(2011, 6, 29): "Il-Festa ta' San Pietru u San Pawl", datetime.date(2011, 8, 15): "Il-Festa ta' Santa Marija", datetime.date(2011, 9, 8): 'Jum il-Vitorja', datetime.date(2011, 9, 21): 'Jum l-Indipendenza', datetime.date(2011, 12, 8): 'Il-Festa tal-Immakulata Kunċizzjoni', datetime.date(2011, 12, 13): 'Jum ir-Repubblika', datetime.date(2011, 12, 25): 'Il-Milied'},
 'CZ': {datetime.date(2010, 1, 1): 'Den obnovy samostatného českého státu; Nový rok', datetime.date(2010, 4, 5): 'Velikonoční pondělí', datetime.date(2010, 5, 1): 'Svátek práce', datetime.date(2010, 5, 8): 'Den vítězství', datetime.date(2010, 7, 5): 'Den slovanských věrozvěstů Cyrila a Metoděje', datetime.date(2010, 7, 6): 'Den upálení mistra Jana Husa', datetime.date(2010, 9, 28): 'Den české státnosti', datetime.date(2010, 10, 28): 'Den vzniku samostatného československého státu', datetime.date(2010, 11, 17): 'Den boje za svobodu a demokracii', datetime.date(2010, 12, 24): 'Štědrý den', datetime.date(2010, 12, 25): '1. svátek vánoční', datetime.date(2010, 12, 26): '2. svátek vánoční', datetime.date(2011, 1, 1): 'Den obnovy samostatného českého státu; Nový rok', datetime.date(2011, 4, 25): 'Velikonoční pondělí', datetime.date(2011, 5, 1): 'Svátek práce', datetime.date(2011, 5, 8): 'Den vítězství', datetime.date(2011, 7, 5): 'Den slovanských věrozvěstů Cyrila a Metoděje', datetime.date(2011, 7, 6): 'Den upálení mistra Jana Husa', datetime.date(2011, 9, 28): 'Den české státnosti', datetime.date(2011, 10, 28): 'Den vzniku samostatného československého státu', datetime.date(2011, 11, 17): 'Den boje za svobodu a demokracii', datetime.date(2011, 12, 24): 'Štědrý den', datetime.date(2011, 12, 25): '1. svátek vánoční', datetime.date(2011, 12, 26): '2. svátek vánoční'},
 'NL': {datetime.date(2010, 1, 1): 'Nieuwjaarsdag', datetime.date(2010, 4, 4): 'Eerste paasdag', datetime.date(2010, 4, 5): 'Tweede paasdag', datetime.date(2010, 4, 30): 'Koninginnedag', datetime.date(2010, 5, 5): 'Bevrijdingsdag', datetime.date(2010, 5, 13): 'Hemelvaartsdag', datetime.date(2010, 5, 23): 'Eerste Pinksterdag', datetime.date(2010, 5, 24): 'Tweede Pinksterdag', datetime.date(2010, 12, 25): 'Eerste Kerstdag', datetime.date(2010, 12, 26): 'Tweede Kerstdag', datetime.date(2011, 1, 1): 'Nieuwjaarsdag', datetime.date(2011, 4, 24): 'Eerste paasdag', datetime.date(2011, 4, 25): 'Tweede paasdag', datetime.date(2011, 4, 30): 'Koninginnedag', datetime.date(2011, 6, 2): 'Hemelvaartsdag', datetime.date(2011, 6, 12): 'Eerste Pinksterdag', datetime.date(2011, 6, 13): 'Tweede Pinksterdag', datetime.date(2011, 12, 25): 'Eerste Kerstdag', datetime.date(2011, 12, 26): 'Tweede Kerstdag'},
 'IL': {datetime.date(2010, 9, 9): 'ראש השנה', datetime.date(2010, 9, 10): 'ראש השנה', datetime.date(2010, 9, 18): 'יום כיפור', datetime.date(2010, 9, 23): 'סוכות', datetime.date(2010, 9, 30): 'שמחת תורה/שמיני עצרת', datetime.date(2010, 3, 30): 'פסח', datetime.date(2010, 4, 5): 'שביעי של פסח', datetime.date(2010, 4, 20): '(נצפה) יום העצמאות', datetime.date(2010, 5, 19): 'שבועות', datetime.date(2011, 9, 29): 'ראש השנה', datetime.date(2011, 9, 30): 'ראש השנה', datetime.date(2011, 10, 8): 'יום כיפור', datetime.date(2011, 10, 13): 'סוכות', datetime.date(2011, 10, 20): 'שמחת תורה/שמיני עצרת', datetime.date(2011, 4, 19): 'פסח', datetime.date(2011, 4, 25): 'שביעי של פסח', datetime.date(2011, 5, 10): '(נצפה) יום העצמאות', datetime.date(2011, 6, 8): 'שבועות'},
 'IT': {datetime.date(2010, 1, 1): 'Capodanno', datetime.date(2010, 1, 6): 'Epifania del Signore', datetime.date(2010, 4, 4): 'Pasqua di Resurrezione', datetime.date(2010, 4, 5): "Lunedì dell'Angelo", datetime.date(2010, 4, 25): 'Festa della Liberazione', datetime.date(2010, 5, 1): 'Festa dei Lavoratori', datetime.date(2010, 6, 2): 'Festa della Repubblica', datetime.date(2010, 8, 15): 'Assunzione della Vergine', datetime.date(2010, 11, 1): 'Tutti i Santi', datetime.date(2010, 12, 8): 'Immacolata Concezione', datetime.date(2010, 12, 25): 'Natale', datetime.date(2010, 12, 26): 'Santo Stefano', datetime.date(2011, 1, 1): 'Capodanno', datetime.date(2011, 1, 6): 'Epifania del Signore', datetime.date(2011, 4, 24): 'Pasqua di Resurrezione', datetime.date(2011, 4, 25): "Festa della Liberazione; Lunedì dell'Angelo", datetime.date(2011, 5, 1): 'Festa dei Lavoratori', datetime.date(2011, 6, 2): 'Festa della Repubblica', datetime.date(2011, 8, 15): 'Assunzione della Vergine', datetime.date(2011, 11, 1): 'Tutti i Santi', datetime.date(2011, 12, 8): 'Immacolata Concezione', datetime.date(2011, 12, 25): 'Natale', datetime.date(2011, 12, 26): 'Santo Stefano', datetime.date(2011, 3, 17): "Anniversario dell'Unità d'Italia"},

Casii parece ser que tenemos un problema con el libano, no encontramos sus dias festivos, vamos a medir cuanto impacto tendria en el futuro entrenamiento no tener las vacaciones del libano.
para ello comprobamos cuantas filas hay con el libano.

In [245]:
df.filter(df["Country"] == "LB")

shape: (33, 6)
┌──────────┬─────────────┬───────────┬─────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str     ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪═════════╪════════════╪═════════╡
│ 12       ┆ 2011-01-27  ┆ 1.25      ┆ LB      ┆ 15.0       ┆ 4       │
│ 2        ┆ 2011-01-27  ┆ 6.35      ┆ LB      ┆ 12.7       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 1.45      ┆ LB      ┆ 17.4       ┆ 4       │
│ 3        ┆ 2011-01-27  ┆ 6.45      ┆ LB      ┆ 19.35      ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 1.69      ┆ LB      ┆ 20.28      ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …       ┆ …          ┆ …       │
│ 6        ┆ 2011-01-27  ┆ 5.95      ┆ LB      ┆ 35.7       ┆ 4       │
│ 24       ┆ 2011-01-27  ┆ 0.55      ┆ LB      ┆ 13.2       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 2.55      ┆ LB      ┆ 30.6       ┆ 4       │
│ 6        ┆ 2011-01-27  ┆ 2.1       ┆ LB      ┆ 12.6       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 5.95      ┆ LB      ┆ 71.4       ┆ 4       │
└──────────┴─────────────┴───────────┴─────────┴────────────┴─────────┘

viendo que solo hay 33 lo mejor seria ignorar los festivos del Libano puesto que el impacto del modelo sera minimo o nulo
Todo arreglado! aniadimos una columna extra al dataset que indique si es o no festivo ese dia.

In [246]:
def is_holiday(date, country):
    holiday_list = holidays_dict.get(country, {})
    return 1 if date in holiday_list else 0
is_holiday_col = df.select(["InvoiceDate", "Country"]).map_rows(lambda row: is_holiday(row[0], row[1]))
df = df.with_columns(pl.Series("is_holiday", is_holiday_col))
df

shape: (442_222, 7)
┌──────────┬─────────────┬───────────┬─────────┬────────────┬─────────┬────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country ┆ TotalSales ┆ weekday ┆ is_holiday │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆ ---        ┆ ---     ┆ ---        │
│ i64      ┆ date        ┆ f64       ┆ str     ┆ f64        ┆ i8      ┆ i64        │
╞══════════╪═════════════╪═══════════╪═════════╪════════════╪═════════╪════════════╡
│ 1        ┆ 2011-07-15  ┆ 7.46      ┆ GB      ┆ 7.46       ┆ 5       ┆ 0          │
│ 2        ┆ 2011-07-27  ┆ 4.13      ┆ GB      ┆ 8.26       ┆ 3       ┆ 0          │
│ 1        ┆ 2011-11-18  ┆ 2.95      ┆ GB      ┆ 2.95       ┆ 5       ┆ 0          │
│ 24       ┆ 2011-11-23  ┆ 1.25      ┆ GB      ┆ 30.0       ┆ 3       ┆ 0          │
│ 6        ┆ 2011-05-05  ┆ 1.95      ┆ GB      ┆ 11.7       ┆ 4       ┆ 0          │
│ …        ┆ …           ┆ …         ┆ …       ┆ …          ┆ …       ┆ …          │
│ 4        ┆ 2011-02-28  ┆ 4.25      ┆ GB      ┆ 17.0       ┆ 1       ┆ 0          │
│ 2        ┆ 2010-12-02  ┆ 1.65      ┆ GB      ┆ 3.3        ┆ 4       ┆ 0          │
│ 1        ┆ 2011-04-03  ┆ 1.45      ┆ GB      ┆ 1.45       ┆ 7       ┆ 0          │
│ 24       ┆ 2011-01-31  ┆ 1.65      ┆ GB      ┆ 39.6       ┆ 1       ┆ 0          │
│ 8        ┆ 2011-05-24  ┆ 1.95      ┆ GB      ┆ 15.6       ┆ 2       ┆ 0          │
└──────────┴─────────────┴───────────┴─────────┴────────────┴─────────┴────────────┘

Vamos a sacar algunas variables temporales adicionales, de las que puede depender las ventas

In [247]:
pl.col("InvoiceDate").dt.quarter()

In [248]:

df = df.with_columns([ 
   ((pl.col("InvoiceDate").dt.day() <= 10)).cast(pl.Int8).alias("is_month_start"),
    ((pl.col("InvoiceDate").dt.day() >= (pl.col("InvoiceDate").dt.month_end().dt.day() - 9))).cast(pl.Int8).alias("is_month_end"),
    pl.col("InvoiceDate").dt.quarter().alias("quarter_num"),
])
df

shape: (442_222, 10)
┌──────────┬────────────┬───────────┬─────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ Country ┆ … ┆ is_holiday ┆ is_month_ ┆ is_month_ ┆ quarter_n │
│ ---      ┆ e          ┆ ---       ┆ ---     ┆   ┆ ---        ┆ start     ┆ end       ┆ um        │
│ i64      ┆ ---        ┆ f64       ┆ str     ┆   ┆ i64        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ date       ┆           ┆         ┆   ┆            ┆ i8        ┆ i8        ┆ i8        │
╞══════════╪════════════╪═══════════╪═════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2011-07-15 ┆ 7.46      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 0         ┆ 3         │
│ 2        ┆ 2011-07-27 ┆ 4.13      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 3         │
│ 1        ┆ 2011-11-18 ┆ 2.95      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 0         ┆ 4         │
│ 24       ┆ 2011-11-23 ┆ 1.25      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 4         │
│ 6        ┆ 2011-05-05 ┆ 1.95      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 2         │
│ …        ┆ …          ┆ …         ┆ …       ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 4        ┆ 2011-02-28 ┆ 4.25      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 1         │
│ 2        ┆ 2010-12-02 ┆ 1.65      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 1        ┆ 2011-04-03 ┆ 1.45      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 2         │
│ 24       ┆ 2011-01-31 ┆ 1.65      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 1         │
│ 8        ┆ 2011-05-24 ┆ 1.95      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 2         │
└──────────┴────────────┴───────────┴─────────┴───┴────────────┴───────────┴───────────┴───────────┘

Ahora es el turno de variables lag que indiquen las ventas totales hace un dia, 7 o 30 dias, el objetivo es que el el modelo aprenda si hay una correlacion entre ellas.

In [249]:
# POR CIUDAD Y POR FECHA
# df_grouped = df.group_by(["Country", "InvoiceDate"]).agg([
#     # pl.sum("Quantity").alias("Quantity_sum"),
#     # pl.sum("UnitPrice").alias("UnitPrice_avg"),
#     pl.sum("TotalSales").alias("TotalSales"),
#     pl.first("weekday").alias("weekday"),
#     pl.first("is_holiday").alias("is_holiday"),
#     pl.first("is_month_start").alias("is_month_start"),
#     pl.first("is_month_end").alias("is_month_end"),
#     pl.first("quarter_num").alias("quarter_num"),
    

# ])
# SOLO FECHA
df_grouped = df.group_by("InvoiceDate").agg([
    # pl.sum("Quantity").alias("Quantity_sum"),
    # pl.sum("UnitPrice").alias("UnitPrice_avg"),
    pl.sum("TotalSales").alias("TotalSales"),
    pl.first("weekday").alias("weekday"),
    pl.first("is_holiday").alias("is_holiday"),
    pl.first("is_month_start").alias("is_month_start"),
    pl.first("is_month_end").alias("is_month_end"),
    pl.first("quarter_num").alias("quarter_num"),
    

])
df_grouped.sort("InvoiceDate")

shape: (305, 7)
┌─────────────┬────────────┬─────────┬────────────┬────────────────┬──────────────┬─────────────┐
│ InvoiceDate ┆ TotalSales ┆ weekday ┆ is_holiday ┆ is_month_start ┆ is_month_end ┆ quarter_num │
│ ---         ┆ ---        ┆ ---     ┆ ---        ┆ ---            ┆ ---          ┆ ---         │
│ date        ┆ f64        ┆ i8      ┆ i64        ┆ i8             ┆ i8           ┆ i8          │
╞═════════════╪════════════╪═════════╪════════════╪════════════════╪══════════════╪═════════════╡
│ 2010-12-01  ┆ 26604.56   ┆ 3       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2010-12-02  ┆ 23203.33   ┆ 4       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2010-12-03  ┆ 19423.33   ┆ 5       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2010-12-05  ┆ 20738.69   ┆ 7       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2010-12-06  ┆ 30506.65   ┆ 1       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ …           ┆ …          ┆ …       ┆ …          ┆ …              ┆ …            ┆ …           │
│ 2011-12-05  ┆ 45057.32   ┆ 1       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2011-12-06  ┆ 26898.4    ┆ 2       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2011-12-07  ┆ 27847.03   ┆ 3       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2011-12-08  ┆ 38582.06   ┆ 4       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
│ 2011-12-09  ┆ 15940.79   ┆ 5       ┆ 0          ┆ 1              ┆ 0            ┆ 4           │
└─────────────┴────────────┴─────────┴────────────┴────────────────┴──────────────┴─────────────┘

In [252]:


# SOLO FECHA
df_grouped = df_grouped.with_columns([
    pl.col("TotalSales").shift(1).alias("Lag_1"),  
    pl.col("TotalSales").shift(7).alias("Lag_7"),  
    pl.col("TotalSales").shift(30).alias("Lag_30"), 
    pl.col("TotalSales").rolling_mean(window_size=7).alias("MA_7"),  
    pl.col("TotalSales").rolling_mean(window_size=14).alias("MA_14"),  
    pl.col("TotalSales").rolling_mean(window_size=30).alias("MA_30")  
])
df_grouped = df_grouped.sort("InvoiceDate")
df_grouped
# POR CIUDAD Y POR FECHA
# df_grouped = df_grouped.with_columns([
#     pl.col("TotalSales").shift(1).over("Country").alias("Lag_1"),  
#     pl.col("TotalSales").shift(7).over("Country").alias("Lag_7"),  
#     pl.col("TotalSales").shift(30).over("Country").alias("Lag_30"), 
#     pl.col("TotalSales").rolling_mean(window_size=7).over("Country").alias("MA_7"),  
#     pl.col("TotalSales").rolling_mean(window_size=14).over("Country").alias("MA_14"),  
#     pl.col("TotalSales").rolling_mean(window_size=30).over("Country").alias("MA_30")  
# ])
# df_grouped = df_grouped.sort(["Country", "InvoiceDate"])

In [254]:

# df_grouped.filter(df_grouped["Country"] == "DE").sort("InvoiceDate")

In [255]:
# df_grouped.null_count()
df_grouped = df_grouped.drop_nulls()
df_grouped

shape: (275, 13)
┌────────────┬────────────┬─────────┬───────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ InvoiceDat ┆ TotalSales ┆ weekday ┆ is_holida ┆ … ┆ Lag_30   ┆ MA_7      ┆ MA_14     ┆ MA_30     │
│ e          ┆ ---        ┆ ---     ┆ y         ┆   ┆ ---      ┆ ---       ┆ ---       ┆ ---       │
│ ---        ┆ f64        ┆ i8      ┆ ---       ┆   ┆ f64      ┆ f64       ┆ f64       ┆ f64       │
│ date       ┆            ┆         ┆ i64       ┆   ┆          ┆           ┆           ┆           │
╞════════════╪════════════╪═════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ 2010-12-01 ┆ 26604.56   ┆ 3       ┆ 0         ┆ … ┆ 45057.32 ┆ 18338.024 ┆ 15529.130 ┆ 16828.874 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 286       ┆ 714       ┆ 667       │
│ 2010-12-02 ┆ 23203.33   ┆ 4       ┆ 0         ┆ … ┆ 31450.41 ┆ 13506.158 ┆ 15078.752 ┆ 16054.451 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 571       ┆ 143       ┆           │
│ 2010-12-05 ┆ 20738.69   ┆ 7       ┆ 0         ┆ … ┆ 3321.05  ┆ 18169.55  ┆ 16412.35  ┆ 16233.115 │
│            ┆            ┆         ┆           ┆   ┆          ┆           ┆           ┆ 333       │
│ 2010-12-07 ┆ 25345.38   ┆ 2       ┆ 0         ┆ … ┆ 10864.33 ┆ 20008.378 ┆ 17851.835 ┆ 17552.771 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 571       ┆           ┆ 333       │
│ 2010-12-08 ┆ 26379.94   ┆ 3       ┆ 0         ┆ … ┆ 16400.78 ┆ 18742.532 ┆ 18012.247 ┆ 16565.754 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 857       ┆ 857       ┆           │
│ …          ┆ …          ┆ …       ┆ …         ┆ … ┆ …        ┆ …         ┆ …         ┆ …         │
│ 2011-12-05 ┆ 45057.32   ┆ 1       ┆ 0         ┆ … ┆ 25131.62 ┆ 23963.054 ┆ 20819.674 ┆ 17233.170 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 286       ┆ 286       ┆ 667       │
│ 2011-12-06 ┆ 26898.4    ┆ 2       ┆ 0         ┆ … ┆ 10833.06 ┆ 15149.798 ┆ 16274.673 ┆ 16980.735 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 571       ┆ 571       ┆           │
│ 2011-12-07 ┆ 27847.03   ┆ 3       ┆ 0         ┆ … ┆ 9878.81  ┆ 17293.722 ┆ 17907.64  ┆ 17939.978 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 857       ┆           ┆           │
│ 2011-12-08 ┆ 38582.06   ┆ 4       ┆ 0         ┆ … ┆ 13272.19 ┆ 22336.598 ┆ 21609.13  ┆ 19415.498 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 571       ┆           ┆ 333       │
│ 2011-12-09 ┆ 15940.79   ┆ 5       ┆ 0         ┆ … ┆ 22906.06 ┆ 20567.707 ┆ 18337.409 ┆ 17161.215 │
│            ┆            ┆         ┆           ┆   ┆          ┆ 143       ┆ 286       ┆           │
└────────────┴────────────┴─────────┴───────────┴───┴──────────┴───────────┴───────────┴───────────┘

In [212]:
df_grouped.describe()

shape: (9, 15)
┌────────────┬─────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ Country ┆ InvoiceDa ┆ TotalSale ┆ … ┆ Lag_30    ┆ MA_7      ┆ MA_14     ┆ MA_30     │
│ ---        ┆ ---     ┆ te        ┆ s         ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆ str     ┆ ---       ┆ ---       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
│            ┆         ┆ str       ┆ f64       ┆   ┆           ┆           ┆           ┆           │
╞════════════╪═════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 890     ┆ 890       ┆ 890.0     ┆ … ┆ 890.0     ┆ 890.0     ┆ 890.0     ┆ 890.0     │
│ null_count ┆ 0       ┆ 0         ┆ 0.0       ┆ … ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null    ┆ 2011-07-2 ┆ 4905.2741 ┆ … ┆ 4490.4075 ┆ 4862.0408 ┆ 4799.3508 ┆ 4670.3576 │
│            ┆         ┆ 8 15:40:0 ┆ 12        ┆   ┆ 28        ┆ 76        ┆ 48        ┆ 15        │
│            ┆         ┆ 2.696000  ┆           ┆   ┆           ┆           ┆           ┆           │
│ std        ┆ null    ┆ null      ┆ 7466.4581 ┆ … ┆ 6586.1244 ┆ 7010.2249 ┆ 6858.8910 ┆ 6554.9753 │
│            ┆         ┆           ┆ 51        ┆   ┆ 16        ┆ 29        ┆ 8         ┆           │
│ min        ┆ AU      ┆ 2011-01-1 ┆ 6.96      ┆ … ┆ 3.95      ┆ 180.42142 ┆ 244.10285 ┆ 250.82733 │
│            ┆         ┆ 6         ┆           ┆   ┆           ┆ 9         ┆ 7         ┆ 3         │
│ 25%        ┆ null    ┆ 2011-05-1 ┆ 325.84    ┆ … ┆ 301.85    ┆ 482.75    ┆ 498.57571 ┆ 545.274   │
│            ┆         ┆ 8         ┆           ┆   ┆           ┆           ┆ 4         ┆           │
│ 50%        ┆ null    ┆ 2011-08-0 ┆ 806.26    ┆ … ┆ 757.43    ┆ 755.95857 ┆ 746.58785 ┆ 694.67433 │
│            ┆         ┆ 9         ┆           ┆   ┆           ┆ 1         ┆ 7         ┆ 3         │
│ 75%        ┆ null    ┆ 2011-10-1 ┆ 9216.29   ┆ … ┆ 8997.63   ┆ 10241.327 ┆ 10529.74  ┆ 10636.918 │
│            ┆         ┆ 7         ┆           ┆   ┆           ┆ 143       ┆           ┆ 333       │
│ max        ┆ PT      ┆ 2011-12-0 ┆ 43187.3   ┆ … ┆ 29707.21  ┆ 28618.262 ┆ 28319.945 ┆ 27031.178 │
│            ┆         ┆ 9         ┆           ┆   ┆           ┆ 857       ┆           ┆ 333       │
└────────────┴─────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

Ademas anadiremos los promedios de los ultimos 7,14 y 30 dias

Como vemos tenemos filas (en concreto 30) con valores nulos en lag y el promedio, podriamos rellenarlas artificialmente pero ya que son solo 30 y no queremos sesgar el modelo vamos a eliminarlas.

In [40]:
df.sort("InvoiceDate")

shape: (442_222, 10)
┌──────────┬────────────┬───────────┬─────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ Country ┆ … ┆ is_holiday ┆ is_month_ ┆ is_month_ ┆ quarter_n │
│ ---      ┆ e          ┆ ---       ┆ ---     ┆   ┆ ---        ┆ start     ┆ end       ┆ um        │
│ i64      ┆ ---        ┆ f64       ┆ str     ┆   ┆ i64        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ date       ┆           ┆         ┆   ┆            ┆ i8        ┆ i8        ┆ i8        │
╞══════════╪════════════╪═══════════╪═════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2010-12-01 ┆ 1.28      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 2        ┆ 2010-12-01 ┆ 2.51      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 1        ┆ 2010-12-01 ┆ 0.85      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 1        ┆ 2010-12-01 ┆ 3.36      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 1        ┆ 2010-12-01 ┆ 1.49      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ …        ┆ …          ┆ …         ┆ …       ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 8        ┆ 2011-12-09 ┆ 4.95      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 2        ┆ 2011-12-09 ┆ 5.79      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 12       ┆ 2011-12-09 ┆ 1.25      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 10       ┆ 2011-12-09 ┆ 1.65      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 1        ┆ 2011-12-09 ┆ 5.4       ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
└──────────┴────────────┴───────────┴─────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [74]:
df.write_csv("data_cleaned.csv")

In [256]:
import pickle


with open("datos_cleaned_grouped.pkl", "wb") as file:
    pickle.dump(df_grouped, file)