In [37]:
import polars as pl

df = pl.read_csv("data.csv", encoding="ISO-8859-1", infer_schema_length=10000)
df

shape: (541_909, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 536365    ┆ 85123A    ┆ WHITE        ┆ 6        ┆ 12/1/2010   ┆ 2.55      ┆ 17850      ┆ United  │
│           ┆           ┆ HANGING      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART        ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ T-LIGHT HO…  ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 71053     ┆ WHITE METAL  ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ LANTERN      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│ 536365    ┆ 84406B    ┆ CREAM CUPID  ┆ 8        ┆ 12/1/2010   ┆ 2.75      ┆ 17850      ┆ United  │
│           ┆           ┆ HEARTS COAT  ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HANGER       ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029G    ┆ KNITTED      ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ UNION FLAG   ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HOT WATER B… ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029E    ┆ RED WOOLLY   ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ HOTTIE WHITE ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART.       ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 581587    ┆ 22613     ┆ PACK OF 20   ┆ 12       ┆ 12/9/2011   ┆ 0.85      ┆ 12680      ┆ France  │
│           ┆           ┆ SPACEBOY     ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ NAPKINS      ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22899     ┆ CHILDREN'S   ┆ 6        ┆ 12/9/2011   ┆ 2.1       ┆ 12680      ┆ France  │
│           ┆           ┆ APRON DOLLY  ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ GIRL         ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23254     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ DOLLY GIRL   ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23255     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22138     ┆ BAKING SET 9 ┆ 3        ┆ 12/9/2011   ┆ 4.95      ┆ 12680      ┆ France  │
│           ┆           ┆ PIECE        ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘


Ahora sobre el dataset vamos a analizar si hay datos que limpiar:

Primero los valores nulos, es importante que no tengamos ninguno, ya con datos nulos no podemos trabajar.

In [38]:
df.null_count()

shape: (1, 8)
┌───────────┬───────────┬─────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---         ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ u32       ┆ u32       ┆ u32         ┆ u32      ┆ u32         ┆ u32       ┆ u32        ┆ u32     │
╞═══════════╪═══════════╪═════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 0         ┆ 0         ┆ 1454        ┆ 0        ┆ 0           ┆ 0         ┆ 135080     ┆ 0       │
└───────────┴───────────┴─────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Como vemos solo hay muchos nulls, aunque en este caso los nulls del custumer ID nos lo tomaremos como compras reales de clientes no registrados, en cambio los valores nulos de Description los eliminaremos por que no podemos saber si ha sido una venta real o un error.

In [39]:
df = df.filter(df["Description"].is_not_null())
df

shape: (540_455, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 536365    ┆ 85123A    ┆ WHITE        ┆ 6        ┆ 12/1/2010   ┆ 2.55      ┆ 17850      ┆ United  │
│           ┆           ┆ HANGING      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART        ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ T-LIGHT HO…  ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 71053     ┆ WHITE METAL  ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ LANTERN      ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│ 536365    ┆ 84406B    ┆ CREAM CUPID  ┆ 8        ┆ 12/1/2010   ┆ 2.75      ┆ 17850      ┆ United  │
│           ┆           ┆ HEARTS COAT  ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HANGER       ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029G    ┆ KNITTED      ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ UNION FLAG   ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HOT WATER B… ┆          ┆             ┆           ┆            ┆         │
│ 536365    ┆ 84029E    ┆ RED WOOLLY   ┆ 6        ┆ 12/1/2010   ┆ 3.39      ┆ 17850      ┆ United  │
│           ┆           ┆ HOTTIE WHITE ┆          ┆ 8:26        ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HEART.       ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 581587    ┆ 22613     ┆ PACK OF 20   ┆ 12       ┆ 12/9/2011   ┆ 0.85      ┆ 12680      ┆ France  │
│           ┆           ┆ SPACEBOY     ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ NAPKINS      ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22899     ┆ CHILDREN'S   ┆ 6        ┆ 12/9/2011   ┆ 2.1       ┆ 12680      ┆ France  │
│           ┆           ┆ APRON DOLLY  ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ GIRL         ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23254     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ DOLLY GIRL   ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 23255     ┆ CHILDRENS    ┆ 4        ┆ 12/9/2011   ┆ 4.15      ┆ 12680      ┆ France  │
│           ┆           ┆ CUTLERY      ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 581587    ┆ 22138     ┆ BAKING SET 9 ┆ 3        ┆ 12/9/2011   ┆ 4.95      ┆ 12680      ┆ France  │
│           ┆           ┆ PIECE        ┆          ┆ 12:50       ┆           ┆            ┆         │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Sabiendo que ya no tenemos nulos vamos a comprobar los duplicados(todas las columnas), que tambien es importante

In [40]:

f"Filas duplicadas: {df.height - df.unique().height}"

'Filas duplicadas: 5268'

En nuestro caso elimineramos estas filas duplicadas porque es muy probable que se trate de un error de la aplicacion al insertar datos.

In [41]:

df = df.unique()
df

shape: (535_187, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ C542635   ┆ 21977     ┆ PACK OF 60   ┆ -1       ┆ 1/31/2011   ┆ 0.55      ┆ 14688      ┆ United  │
│           ┆           ┆ PINK PAISLEY ┆          ┆ 10:43       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE C…      ┆          ┆             ┆           ┆            ┆         │
│ 547880    ┆ 22417     ┆ PACK OF 60   ┆ 1        ┆ 3/27/2011   ┆ 0.55      ┆ 15426      ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆ 16:05       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE CASES   ┆          ┆             ┆           ┆            ┆         │
│ 554079    ┆ 23255     ┆ CHILDRENS    ┆ 3        ┆ 5/22/2011   ┆ 4.15      ┆ 14546      ┆ United  │
│           ┆           ┆ CUTLERY      ┆          ┆ 11:41       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 565781    ┆ 22984     ┆ CARD GINGHAM ┆ 12       ┆ 9/6/2011    ┆ 0.42      ┆ 13098      ┆ United  │
│           ┆           ┆ ROSE         ┆          ┆ 15:34       ┆           ┆            ┆ Kingdom │
│ 571061    ┆ 21935     ┆ SUKI         ┆ 1        ┆ 10/13/2011  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ SHOULDER BAG ┆          ┆ 14:33       ┆           ┆            ┆ Kingdom │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545687    ┆ 22792     ┆ FLUTED       ┆ 24       ┆ 3/6/2011    ┆ 0.85      ┆ 17769      ┆ United  │
│           ┆           ┆ ANTIQUE      ┆          ┆ 12:20       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ HOLDER       ┆          ┆             ┆           ┆            ┆         │
│ 581439    ┆ 90059C    ┆ DIAMANTE     ┆ 1        ┆ 12/8/2011   ┆ 1.65      ┆ null       ┆ United  │
│           ┆           ┆ HAIR GRIP    ┆          ┆ 16:30       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PACK/2 MONT… ┆          ┆             ┆           ┆            ┆         │
│ 556067    ┆ 23169     ┆ CLASSIC      ┆ 1        ┆ 6/8/2011    ┆ 4.15      ┆ 12748      ┆ United  │
│           ┆           ┆ GLASS COOKIE ┆          ┆ 14:35       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JAR          ┆          ┆             ┆           ┆            ┆         │
│ 558475    ┆ 22355     ┆ CHARLOTTE    ┆ 5        ┆ 6/29/2011   ┆ 1.63      ┆ null       ┆ United  │
│           ┆           ┆ BAG SUKI     ┆          ┆ 15:58       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 562024    ┆ 22379     ┆ RECYCLING    ┆ 1        ┆ 8/1/2011    ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ BAG          ┆          ┆ 16:07       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Ahora iremos con los valores negativos

In [42]:
df.filter((pl.col("Quantity") < 0) | (pl.col("UnitPrice") < 0))

shape: (9_727, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ C542635   ┆ 21977     ┆ PACK OF 60   ┆ -1       ┆ 1/31/2011   ┆ 0.55      ┆ 14688      ┆ United  │
│           ┆           ┆ PINK PAISLEY ┆          ┆ 10:43       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE C…      ┆          ┆             ┆           ┆            ┆         │
│ C572110   ┆ 23295     ┆ SET OF 12    ┆ -2       ┆ 10/20/2011  ┆ 0.83      ┆ 14910      ┆ United  │
│           ┆           ┆ MINI LOAF    ┆          ┆ 19:11       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BAKING CAS…  ┆          ┆             ┆           ┆            ┆         │
│ C563553   ┆ 22882     ┆ NUMBER TILE  ┆ -1       ┆ 8/17/2011   ┆ 1.95      ┆ 16755      ┆ United  │
│           ┆           ┆ VINTAGE FONT ┆          ┆ 13:14       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ 3            ┆          ┆             ┆           ┆            ┆         │
│ C572187   ┆ POST      ┆ POSTAGE      ┆ -1       ┆ 10/21/2011  ┆ 18.0      ┆ 12403      ┆ Denmark │
│           ┆           ┆              ┆          ┆ 11:00       ┆           ┆            ┆         │
│ C541090   ┆ 22649     ┆ STRAWBERRY   ┆ -1       ┆ 1/13/2011   ┆ 4.95      ┆ 17406      ┆ United  │
│           ┆           ┆ FAIRY CAKE   ┆          ┆ 12:52       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ TEAPOT       ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ C580507   ┆ 22423     ┆ REGENCY      ┆ -1       ┆ 12/4/2011   ┆ 12.75     ┆ 15867      ┆ United  │
│           ┆           ┆ CAKESTAND 3  ┆          ┆ 13:37       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ TIER         ┆          ┆             ┆           ┆            ┆         │
│ C548389   ┆ 22423     ┆ REGENCY      ┆ -1       ┆ 3/30/2011   ┆ 12.75     ┆ 16713      ┆ United  │
│           ┆           ┆ CAKESTAND 3  ┆          ┆ 16:54       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ TIER         ┆          ┆             ┆           ┆            ┆         │
│ C574505   ┆ 85099B    ┆ JUMBO BAG    ┆ -1       ┆ 11/4/2011   ┆ 2.08      ┆ 13534      ┆ United  │
│           ┆           ┆ RED          ┆          ┆ 13:22       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
│ C551948   ┆ 21754     ┆ HOME         ┆ -1       ┆ 5/5/2011    ┆ 5.45      ┆ 17511      ┆ United  │
│           ┆           ┆ BUILDING     ┆          ┆ 11:21       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BLOCK WORD   ┆          ┆             ┆           ┆            ┆         │
│ C538647   ┆ 22467     ┆ GUMBALL COAT ┆ -1       ┆ 12/13/2010  ┆ 2.55      ┆ 15808      ┆ United  │
│           ┆           ┆ RACK         ┆          ┆ 14:56       ┆           ┆            ┆ Kingdom │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

EXPLICAR PORQUE LOS NEGATIVOS NO LOS VAMOS A USAR COMO DEVOLUCIONES

Tenemos unos cuantos tambien, tanto valores negaticos en la cantidad, como en el precio por unidad. Evidentemente tenemos que eliminar estos valores negativos porque no tienen ni pies ni cabeza.

In [43]:
df = df.filter(~((pl.col("Quantity") < 0) | (pl.col("UnitPrice") < 0)))
df

shape: (525_460, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ str         ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 547880    ┆ 22417     ┆ PACK OF 60   ┆ 1        ┆ 3/27/2011   ┆ 0.55      ┆ 15426      ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆ 16:05       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE CASES   ┆          ┆             ┆           ┆            ┆         │
│ 554079    ┆ 23255     ┆ CHILDRENS    ┆ 3        ┆ 5/22/2011   ┆ 4.15      ┆ 14546      ┆ United  │
│           ┆           ┆ CUTLERY      ┆          ┆ 11:41       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 565781    ┆ 22984     ┆ CARD GINGHAM ┆ 12       ┆ 9/6/2011    ┆ 0.42      ┆ 13098      ┆ United  │
│           ┆           ┆ ROSE         ┆          ┆ 15:34       ┆           ┆            ┆ Kingdom │
│ 571061    ┆ 21935     ┆ SUKI         ┆ 1        ┆ 10/13/2011  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ SHOULDER BAG ┆          ┆ 14:33       ┆           ┆            ┆ Kingdom │
│ 567959    ┆ POST      ┆ POSTAGE      ┆ 4        ┆ 9/23/2011   ┆ 18.0      ┆ 12516      ┆ Germany │
│           ┆           ┆              ┆          ┆ 9:13        ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545687    ┆ 22792     ┆ FLUTED       ┆ 24       ┆ 3/6/2011    ┆ 0.85      ┆ 17769      ┆ United  │
│           ┆           ┆ ANTIQUE      ┆          ┆ 12:20       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ HOLDER       ┆          ┆             ┆           ┆            ┆         │
│ 581439    ┆ 90059C    ┆ DIAMANTE     ┆ 1        ┆ 12/8/2011   ┆ 1.65      ┆ null       ┆ United  │
│           ┆           ┆ HAIR GRIP    ┆          ┆ 16:30       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PACK/2 MONT… ┆          ┆             ┆           ┆            ┆         │
│ 556067    ┆ 23169     ┆ CLASSIC      ┆ 1        ┆ 6/8/2011    ┆ 4.15      ┆ 12748      ┆ United  │
│           ┆           ┆ GLASS COOKIE ┆          ┆ 14:35       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JAR          ┆          ┆             ┆           ┆            ┆         │
│ 558475    ┆ 22355     ┆ CHARLOTTE    ┆ 5        ┆ 6/29/2011   ┆ 1.63      ┆ null       ┆ United  │
│           ┆           ┆ BAG SUKI     ┆          ┆ 15:58       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 562024    ┆ 22379     ┆ RECYCLING    ┆ 1        ┆ 8/1/2011    ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ BAG          ┆          ┆ 16:07       ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Es el turno de la fecha de facturacion, vamos a transformar la columna a tipo date

In [44]:
df = df.with_columns(pl.col("InvoiceDate").str.strptime(pl.Date, "%m/%d/%Y %H:%M"))
df

shape: (525_460, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 547880    ┆ 22417     ┆ PACK OF 60   ┆ 1        ┆ 2011-03-27  ┆ 0.55      ┆ 15426      ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE CASES   ┆          ┆             ┆           ┆            ┆         │
│ 554079    ┆ 23255     ┆ CHILDRENS    ┆ 3        ┆ 2011-05-22  ┆ 4.15      ┆ 14546      ┆ United  │
│           ┆           ┆ CUTLERY      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 565781    ┆ 22984     ┆ CARD GINGHAM ┆ 12       ┆ 2011-09-06  ┆ 0.42      ┆ 13098      ┆ United  │
│           ┆           ┆ ROSE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 571061    ┆ 21935     ┆ SUKI         ┆ 1        ┆ 2011-10-13  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ SHOULDER BAG ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 567959    ┆ POST      ┆ POSTAGE      ┆ 4        ┆ 2011-09-23  ┆ 18.0      ┆ 12516      ┆ Germany │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545687    ┆ 22792     ┆ FLUTED       ┆ 24       ┆ 2011-03-06  ┆ 0.85      ┆ 17769      ┆ United  │
│           ┆           ┆ ANTIQUE      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ HOLDER       ┆          ┆             ┆           ┆            ┆         │
│ 581439    ┆ 90059C    ┆ DIAMANTE     ┆ 1        ┆ 2011-12-08  ┆ 1.65      ┆ null       ┆ United  │
│           ┆           ┆ HAIR GRIP    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PACK/2 MONT… ┆          ┆             ┆           ┆            ┆         │
│ 556067    ┆ 23169     ┆ CLASSIC      ┆ 1        ┆ 2011-06-08  ┆ 4.15      ┆ 12748      ┆ United  │
│           ┆           ┆ GLASS COOKIE ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JAR          ┆          ┆             ┆           ┆            ┆         │
│ 558475    ┆ 22355     ┆ CHARLOTTE    ┆ 5        ┆ 2011-06-29  ┆ 1.63      ┆ null       ┆ United  │
│           ┆           ┆ BAG SUKI     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 562024    ┆ 22379     ┆ RECYCLING    ┆ 1        ┆ 2011-08-01  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ BAG          ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Lo siguiente sera buscar outliers

In [45]:
df.describe()

shape: (9, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ InvoiceNo ┆ StockCode ┆ Descripti ┆ … ┆ InvoiceDa ┆ UnitPrice ┆ CustomerI ┆ Country  │
│ ---       ┆ ---       ┆ ---       ┆ on        ┆   ┆ te        ┆ ---       ┆ D         ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ str      │
│           ┆           ┆           ┆ str       ┆   ┆ str       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 525460    ┆ 525460    ┆ 525460    ┆ … ┆ 525460    ┆ 525460.0  ┆ 392732.0  ┆ 525460   │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0.0       ┆ 132728.0  ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-0 ┆ 3.918228  ┆ 15287.734 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 4 00:41:4 ┆           ┆ 822       ┆          │
│           ┆           ┆           ┆           ┆   ┆ 5.379000  ┆           ┆           ┆          │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ 36.07327  ┆ 1713.5677 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 73        ┆          │
│ min       ┆ 536365    ┆ 10002     ┆ 4 PURPLE  ┆ … ┆ 2010-12-0 ┆ 0.0       ┆ 12346.0   ┆ Australi │
│           ┆           ┆           ┆ FLOCK     ┆   ┆ 1         ┆           ┆           ┆ a        │
│           ┆           ┆           ┆ DINNER    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ CANDLES   ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-03-2 ┆ 1.25      ┆ 13955.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 8         ┆           ┆           ┆          │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-2 ┆ 2.08      ┆ 15150.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 0         ┆           ┆           ┆          │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-10-1 ┆ 4.13      ┆ 16791.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 9         ┆           ┆           ┆          │
│ max       ┆ A563185   ┆ m         ┆ wrongly   ┆ … ┆ 2011-12-0 ┆ 13541.33  ┆ 18287.0   ┆ Unspecif │
│           ┆           ┆           ┆ sold      ┆   ┆ 9         ┆           ┆           ┆ ied      │
│           ┆           ┆           ┆ (22719)   ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ barcode   ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Encontramos cosas un poco raras:

El valor minimo de precio por unidad no puede ser 0, aunque puedan ser regalos que se hacen al comprar ciertos articulos es algo excepcional y necesitamos calcular las ventas por dia lo mas normalizadas posibles.
filtraremos por un minimo de .1

In [46]:
df.filter(pl.col("UnitPrice") < .1)

shape: (829, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 553539    ┆ 22201     ┆ FRYING PAN   ┆ 1        ┆ 2011-05-17  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ BLUE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ POLKADOT     ┆          ┆             ┆           ┆            ┆         │
│ 540355    ┆ 20724     ┆ RED          ┆ 1        ┆ 2011-01-06  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CHARLOTTE    ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ BAG          ┆          ┆             ┆           ┆            ┆         │
│ 539856    ┆ 21912     ┆ VINTAGE      ┆ 1        ┆ 2010-12-22  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ SNAKES &     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LADDERS      ┆          ┆             ┆           ┆            ┆         │
│ 553521    ┆ 22203     ┆ MILK PAN RED ┆ 1        ┆ 2011-05-17  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 539856    ┆ 22514     ┆ CHILDS       ┆ 1        ┆ 2010-12-22  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ GARDEN SPADE ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ BLUE         ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 547704    ┆ 21621     ┆ rcvd be air  ┆ 100      ┆ 2011-03-24  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ temp fix for ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ dotco…       ┆          ┆             ┆           ┆            ┆         │
│ 558340    ┆ 22385     ┆ JUMBO BAG    ┆ 1        ┆ 2011-06-28  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 571904    ┆ 16045     ┆ POPART       ┆ 100      ┆ 2011-10-19  ┆ 0.04      ┆ 12522      ┆ Germany │
│           ┆           ┆ WOODEN       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PENCILS ASST ┆          ┆             ┆           ┆            ┆         │
│ 558028    ┆ 16218     ┆ CARTOON      ┆ 80       ┆ 2011-06-24  ┆ 0.06      ┆ 15128      ┆ United  │
│           ┆           ┆ PENCIL       ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ SHARPENERS   ┆          ┆             ┆           ┆            ┆         │
│ 553539    ┆ 22523     ┆ CHILDS       ┆ 1        ┆ 2011-05-17  ┆ 0.0       ┆ null       ┆ United  │
│           ┆           ┆ GARDEN FORK  ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PINK         ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Tenemos 40 casos que tenemos que eliminar

In [47]:
df = df.filter(pl.col("UnitPrice") > .1)
df

shape: (524_578, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 547880    ┆ 22417     ┆ PACK OF 60   ┆ 1        ┆ 2011-03-27  ┆ 0.55      ┆ 15426      ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE CASES   ┆          ┆             ┆           ┆            ┆         │
│ 554079    ┆ 23255     ┆ CHILDRENS    ┆ 3        ┆ 2011-05-22  ┆ 4.15      ┆ 14546      ┆ United  │
│           ┆           ┆ CUTLERY      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 565781    ┆ 22984     ┆ CARD GINGHAM ┆ 12       ┆ 2011-09-06  ┆ 0.42      ┆ 13098      ┆ United  │
│           ┆           ┆ ROSE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 571061    ┆ 21935     ┆ SUKI         ┆ 1        ┆ 2011-10-13  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ SHOULDER BAG ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 567959    ┆ POST      ┆ POSTAGE      ┆ 4        ┆ 2011-09-23  ┆ 18.0      ┆ 12516      ┆ Germany │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545687    ┆ 22792     ┆ FLUTED       ┆ 24       ┆ 2011-03-06  ┆ 0.85      ┆ 17769      ┆ United  │
│           ┆           ┆ ANTIQUE      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ HOLDER       ┆          ┆             ┆           ┆            ┆         │
│ 581439    ┆ 90059C    ┆ DIAMANTE     ┆ 1        ┆ 2011-12-08  ┆ 1.65      ┆ null       ┆ United  │
│           ┆           ┆ HAIR GRIP    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PACK/2 MONT… ┆          ┆             ┆           ┆            ┆         │
│ 556067    ┆ 23169     ┆ CLASSIC      ┆ 1        ┆ 2011-06-08  ┆ 4.15      ┆ 12748      ┆ United  │
│           ┆           ┆ GLASS COOKIE ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JAR          ┆          ┆             ┆           ┆            ┆         │
│ 558475    ┆ 22355     ┆ CHARLOTTE    ┆ 5        ┆ 2011-06-29  ┆ 1.63      ┆ null       ┆ United  │
│           ┆           ┆ BAG SUKI     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 562024    ┆ 22379     ┆ RECYCLING    ┆ 1        ┆ 2011-08-01  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ BAG          ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Siguiendo con las cosas un poco raras que habiamos detectado, en la parte de country habiamos visto un "unspecified"

In [48]:
df.filter(pl.col("Country") == "Unspecified" )

shape: (442, 8)
┌───────────┬───────────┬────────────┬──────────┬────────────┬───────────┬────────────┬────────────┐
│ InvoiceNo ┆ StockCode ┆ Descriptio ┆ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ CustomerID ┆ Country    │
│ ---       ┆ ---       ┆ n          ┆ ---      ┆ e          ┆ ---       ┆ ---        ┆ ---        │
│ str       ┆ str       ┆ ---        ┆ i64      ┆ ---        ┆ f64       ┆ i64        ┆ str        │
│           ┆           ┆ str        ┆          ┆ date       ┆           ┆            ┆            │
╞═══════════╪═══════════╪════════════╪══════════╪════════════╪═══════════╪════════════╪════════════╡
│ 561658    ┆ 21108     ┆ FAIRY CAKE ┆ 1        ┆ 2011-07-28 ┆ 2.55      ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ FLANNEL    ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ ASSORTED   ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ CO…        ┆          ┆            ┆           ┆            ┆            │
│ 561658    ┆ 22703     ┆ PINK CAT   ┆ 1        ┆ 2011-07-28 ┆ 2.1       ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ BOWL       ┆          ┆            ┆           ┆            ┆ d          │
│ 549687    ┆ 48116     ┆ DOORMAT    ┆ 2        ┆ 2011-04-11 ┆ 7.95      ┆ 12363      ┆ Unspecifie │
│           ┆           ┆ MULTICOLOU ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ R STRIPE   ┆          ┆            ┆           ┆            ┆            │
│ 552695    ┆ 21891     ┆ TRADITIONA ┆ 12       ┆ 2011-05-10 ┆ 1.45      ┆ 16320      ┆ Unspecifie │
│           ┆           ┆ L WOODEN   ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ SKIPPING   ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ RO…        ┆          ┆            ┆           ┆            ┆            │
│ 561658    ┆ 22325     ┆ MOBILE     ┆ 1        ┆ 2011-07-28 ┆ 4.95      ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ VINTAGE    ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ HEARTS     ┆          ┆            ┆           ┆            ┆            │
│ …         ┆ …         ┆ …          ┆ …        ┆ …          ┆ …         ┆ …          ┆ …          │
│ 561661    ┆ 85179A    ┆ GREEN      ┆ 1        ┆ 2011-07-28 ┆ 4.65      ┆ 12743      ┆ Unspecifie │
│           ┆           ┆ BITTY      ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ LIGHT      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ CHAIN      ┆          ┆            ┆           ┆            ┆            │
│ 557499    ┆ 23122     ┆ PARTY      ┆ 12       ┆ 2011-06-20 ┆ 0.83      ┆ 16320      ┆ Unspecifie │
│           ┆           ┆ CHARMS 50  ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ PIECES     ┆          ┆            ┆           ┆            ┆            │
│ 559521    ┆ 22991     ┆ GIRAFFE    ┆ 3        ┆ 2011-07-08 ┆ 1.95      ┆ null       ┆ Unspecifie │
│           ┆           ┆ WOODEN     ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ RULER      ┆          ┆            ┆           ┆            ┆            │
│ 559521    ┆ 21124     ┆ SET/10     ┆ 7        ┆ 2011-07-08 ┆ 1.25      ┆ null       ┆ Unspecifie │
│           ┆           ┆ BLUE       ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ POLKADOT   ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ PARTY CAN… ┆          ┆            ┆           ┆            ┆            │
│ 553857    ┆ 85125     ┆ SMALL      ┆ 3        ┆ 2011-05-19 ┆ 4.95      ┆ null       ┆ Unspecifie │
│           ┆           ┆ ROUND CUT  ┆          ┆            ┆           ┆            ┆ d          │
│           ┆           ┆ GLASS      ┆          ┆            ┆           ┆            ┆            │
│           ┆           ┆ CANDLEST…  ┆          ┆            ┆           ┆            ┆            │
└───────────┴───────────┴────────────┴──────────┴────────────┴───────────┴────────────┴────────────┘

Como en nuestro caso nos parece util y queremos agrupar las ventas por paises debemos eliminar las filas con "Unspecified"

In [49]:
df = df.filter(pl.col("Country") != "Unspecified" )
df

shape: (524_136, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 547880    ┆ 22417     ┆ PACK OF 60   ┆ 1        ┆ 2011-03-27  ┆ 0.55      ┆ 15426      ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE CASES   ┆          ┆             ┆           ┆            ┆         │
│ 554079    ┆ 23255     ┆ CHILDRENS    ┆ 3        ┆ 2011-05-22  ┆ 4.15      ┆ 14546      ┆ United  │
│           ┆           ┆ CUTLERY      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 565781    ┆ 22984     ┆ CARD GINGHAM ┆ 12       ┆ 2011-09-06  ┆ 0.42      ┆ 13098      ┆ United  │
│           ┆           ┆ ROSE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 571061    ┆ 21935     ┆ SUKI         ┆ 1        ┆ 2011-10-13  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ SHOULDER BAG ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 567959    ┆ POST      ┆ POSTAGE      ┆ 4        ┆ 2011-09-23  ┆ 18.0      ┆ 12516      ┆ Germany │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545687    ┆ 22792     ┆ FLUTED       ┆ 24       ┆ 2011-03-06  ┆ 0.85      ┆ 17769      ┆ United  │
│           ┆           ┆ ANTIQUE      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ HOLDER       ┆          ┆             ┆           ┆            ┆         │
│ 581439    ┆ 90059C    ┆ DIAMANTE     ┆ 1        ┆ 2011-12-08  ┆ 1.65      ┆ null       ┆ United  │
│           ┆           ┆ HAIR GRIP    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PACK/2 MONT… ┆          ┆             ┆           ┆            ┆         │
│ 556067    ┆ 23169     ┆ CLASSIC      ┆ 1        ┆ 2011-06-08  ┆ 4.15      ┆ 12748      ┆ United  │
│           ┆           ┆ GLASS COOKIE ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JAR          ┆          ┆             ┆           ┆            ┆         │
│ 558475    ┆ 22355     ┆ CHARLOTTE    ┆ 5        ┆ 2011-06-29  ┆ 1.63      ┆ null       ┆ United  │
│           ┆           ┆ BAG SUKI     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 562024    ┆ 22379     ┆ RECYCLING    ┆ 1        ┆ 2011-08-01  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ BAG          ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Algo raro tambien es que habia valores maximos muy altos en la cantidad y en el precio, es decir tenemos claramente outliers

Usaremos la formula del IQR para definir un limite superior e inferior

In [50]:
def calc_iqr_from_column_name(name:str)-> None:
    Q1 = df[name].quantile(0.25)
    Q3 = df[name].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    print(f"\nIQR for {name}")
    print(Q1, Q3, IQR, lower_bound, upper_bound)

calc_iqr_from_column_name("Quantity")
calc_iqr_from_column_name("UnitPrice")

IQR for Quantity
1.0 11.0 10.0 -14.0 26.0

IQR for UnitPrice
1.25 4.13 2.88 -3.0700000000000003 8.45

In [51]:
upper_bound_limit_condition = (pl.col("Quantity") > 27) | (pl.col("UnitPrice") > 7.5)

df.filter(upper_bound_limit_condition)

shape: (81_321, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 567959    ┆ POST      ┆ POSTAGE      ┆ 4        ┆ 2011-09-23  ┆ 18.0      ┆ 12516      ┆ Germany │
│ 546306    ┆ 72807B    ┆ SET/3 OCEAN  ┆ 1        ┆ 2011-03-10  ┆ 8.29      ┆ null       ┆ United  │
│           ┆           ┆ SCENT CANDLE ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JEWEL…       ┆          ┆             ┆           ┆            ┆         │
│ 538520    ┆ 22802     ┆ FAUX FUR     ┆ 1        ┆ 2010-12-12  ┆ 19.95     ┆ null       ┆ United  │
│           ┆           ┆ CHOCOLATE    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ THROW        ┆          ┆             ┆           ┆            ┆         │
│ 562341    ┆ 23310     ┆ BUBBLEGUM    ┆ 36       ┆ 2011-08-04  ┆ 0.42      ┆ 15005      ┆ United  │
│           ┆           ┆ RING         ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ ASSORTED     ┆          ┆             ┆           ┆            ┆         │
│ 556485    ┆ 21523     ┆ DOORMAT      ┆ 2        ┆ 2011-06-12  ┆ 7.95      ┆ 17211      ┆ United  │
│           ┆           ┆ FANCY FONT   ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ HOME SWEET … ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 540496    ┆ 22194     ┆ BLACK DINER  ┆ 1        ┆ 2011-01-07  ┆ 8.5       ┆ 15485      ┆ United  │
│           ┆           ┆ WALL CLOCK   ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 572652    ┆ 23079     ┆ TOADSTOOL    ┆ 2        ┆ 2011-10-25  ┆ 8.95      ┆ 15805      ┆ United  │
│           ┆           ┆ BEDSIDE      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ LIGHT        ┆          ┆             ┆           ┆            ┆         │
│ 579777    ┆ 23532     ┆ WALL ART     ┆ 1        ┆ 2011-11-30  ┆ 10.79     ┆ null       ┆ United  │
│           ┆           ┆ WORK REST    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ AND PLAY     ┆          ┆             ┆           ┆            ┆         │
│ 570465    ┆ 23239     ┆ SET OF 4     ┆ 1        ┆ 2011-10-10  ┆ 8.29      ┆ null       ┆ United  │
│           ┆           ┆ KNICK KNACK  ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ TINS POPP…   ┆          ┆             ┆           ┆            ┆         │
│ 555275    ┆ 84910A    ┆ PINK PAISLEY ┆ 1        ┆ 2011-06-01  ┆ 8.29      ┆ null       ┆ United  │
│           ┆           ┆ CUSHION      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ COVER        ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

Eliminariamos bastantes, pero estaria lo mas normalizado posible, procedemos a eliminarlos

In [52]:
df = df.filter(~((pl.col("Quantity") > 27) | (pl.col("UnitPrice") > 7.5)))
df

shape: (442_815, 8)
┌───────────┬───────────┬──────────────┬──────────┬─────────────┬───────────┬────────────┬─────────┐
│ InvoiceNo ┆ StockCode ┆ Description  ┆ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ CustomerID ┆ Country │
│ ---       ┆ ---       ┆ ---          ┆ ---      ┆ ---         ┆ ---       ┆ ---        ┆ ---     │
│ str       ┆ str       ┆ str          ┆ i64      ┆ date        ┆ f64       ┆ i64        ┆ str     │
╞═══════════╪═══════════╪══════════════╪══════════╪═════════════╪═══════════╪════════════╪═════════╡
│ 547880    ┆ 22417     ┆ PACK OF 60   ┆ 1        ┆ 2011-03-27  ┆ 0.55      ┆ 15426      ┆ United  │
│           ┆           ┆ SPACEBOY     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CAKE CASES   ┆          ┆             ┆           ┆            ┆         │
│ 554079    ┆ 23255     ┆ CHILDRENS    ┆ 3        ┆ 2011-05-22  ┆ 4.15      ┆ 14546      ┆ United  │
│           ┆           ┆ CUTLERY      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CIRCUS       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ PARAD…       ┆          ┆             ┆           ┆            ┆         │
│ 565781    ┆ 22984     ┆ CARD GINGHAM ┆ 12       ┆ 2011-09-06  ┆ 0.42      ┆ 13098      ┆ United  │
│           ┆           ┆ ROSE         ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 571061    ┆ 21935     ┆ SUKI         ┆ 1        ┆ 2011-10-13  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ SHOULDER BAG ┆          ┆             ┆           ┆            ┆ Kingdom │
│ 566816    ┆ 22629     ┆ SPACEBOY     ┆ 24       ┆ 2011-09-15  ┆ 1.95      ┆ 12731      ┆ France  │
│           ┆           ┆ LUNCH BOX    ┆          ┆             ┆           ┆            ┆         │
│ …         ┆ …         ┆ …            ┆ …        ┆ …           ┆ …         ┆ …          ┆ …       │
│ 545687    ┆ 22792     ┆ FLUTED       ┆ 24       ┆ 2011-03-06  ┆ 0.85      ┆ 17769      ┆ United  │
│           ┆           ┆ ANTIQUE      ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ CANDLE       ┆          ┆             ┆           ┆            ┆         │
│           ┆           ┆ HOLDER       ┆          ┆             ┆           ┆            ┆         │
│ 581439    ┆ 90059C    ┆ DIAMANTE     ┆ 1        ┆ 2011-12-08  ┆ 1.65      ┆ null       ┆ United  │
│           ┆           ┆ HAIR GRIP    ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ PACK/2 MONT… ┆          ┆             ┆           ┆            ┆         │
│ 556067    ┆ 23169     ┆ CLASSIC      ┆ 1        ┆ 2011-06-08  ┆ 4.15      ┆ 12748      ┆ United  │
│           ┆           ┆ GLASS COOKIE ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ JAR          ┆          ┆             ┆           ┆            ┆         │
│ 558475    ┆ 22355     ┆ CHARLOTTE    ┆ 5        ┆ 2011-06-29  ┆ 1.63      ┆ null       ┆ United  │
│           ┆           ┆ BAG SUKI     ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ DESIGN       ┆          ┆             ┆           ┆            ┆         │
│ 562024    ┆ 22379     ┆ RECYCLING    ┆ 1        ┆ 2011-08-01  ┆ 4.13      ┆ null       ┆ United  │
│           ┆           ┆ BAG          ┆          ┆             ┆           ┆            ┆ Kingdom │
│           ┆           ┆ RETROSPOT    ┆          ┆             ┆           ┆            ┆         │
└───────────┴───────────┴──────────────┴──────────┴─────────────┴───────────┴────────────┴─────────┘

In [53]:
df.describe()

shape: (9, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ InvoiceNo ┆ StockCode ┆ Descripti ┆ … ┆ InvoiceDa ┆ UnitPrice ┆ CustomerI ┆ Country  │
│ ---       ┆ ---       ┆ ---       ┆ on        ┆   ┆ te        ┆ ---       ┆ D         ┆ ---      │
│ str       ┆ str       ┆ str       ┆ ---       ┆   ┆ ---       ┆ f64       ┆ ---       ┆ str      │
│           ┆           ┆           ┆ str       ┆   ┆ str       ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 442815    ┆ 442815    ┆ 442815    ┆ … ┆ 442815    ┆ 442815.0  ┆ 332940.0  ┆ 442815   │
│ null_coun ┆ 0         ┆ 0         ┆ 0         ┆ … ┆ 0         ┆ 0.0       ┆ 109875.0  ┆ 0        │
│ t         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ mean      ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-0 ┆ 2.388613  ┆ 15319.914 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 5 19:17:4 ┆           ┆ 015       ┆          │
│           ┆           ┆           ┆           ┆   ┆ 0.866000  ┆           ┆           ┆          │
│ std       ┆ null      ┆ null      ┆ null      ┆ … ┆ null      ┆ 1.630417  ┆ 1710.8084 ┆ null     │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ 83        ┆          │
│ min       ┆ 536365    ┆ 10002     ┆ 4 PURPLE  ┆ … ┆ 2010-12-0 ┆ 0.12      ┆ 12347.0   ┆ Australi │
│           ┆           ┆           ┆ FLOCK     ┆   ┆ 1         ┆           ┆           ┆ a        │
│           ┆           ┆           ┆ DINNER    ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ CANDLES   ┆   ┆           ┆           ┆           ┆          │
│ 25%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-03-2 ┆ 1.25      ┆ 13988.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 9         ┆           ┆           ┆          │
│ 50%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-07-2 ┆ 1.95      ┆ 15235.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 2         ┆           ┆           ┆          │
│ 75%       ┆ null      ┆ null      ┆ null      ┆ … ┆ 2011-10-2 ┆ 3.29      ┆ 16814.0   ┆ null     │
│           ┆           ┆           ┆           ┆   ┆ 0         ┆           ┆           ┆          │
│ max       ┆ 581587    ┆ m         ┆ ZINC WIRE ┆ … ┆ 2011-12-0 ┆ 7.5       ┆ 18287.0   ┆ United   │
│           ┆           ┆           ┆ SWEETHEAR ┆   ┆ 9         ┆           ┆           ┆ Kingdom  │
│           ┆           ┆           ┆ T LETTER  ┆   ┆           ┆           ┆           ┆          │
│           ┆           ┆           ┆ TR…       ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

Viendo que el objetivo es predecir el valor total de ventas por dia, haremos los siguientes cambios sobre el dataset:

InvoiceNO,StockCode,Description, CustomerID: Estas columnas son muy interesantes para por ejemplo saber cuantos clientes habituales tiene cada pais, que productos se compran mas, media de productos por factura

Claro, en este caso no las necesitamos para predecir cuanto vamos a ganar en un dia,

En nuestro caso yo dejaria la columna de Country, ya que creo que a la hora de predecir las ventas diarias es muy interesante segmentar por paises, para saber cuantas ventas diarias, tiene uno u otro y que sea util para saber en que pais se pueden aumentar las ganancias o cual esta dando muchas perdidas.

In [54]:
df = df.drop("InvoiceNo","StockCode","Description", "CustomerID")
df

shape: (442_815, 4)
┌──────────┬─────────────┬───────────┬────────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        │
│ ---      ┆ ---         ┆ ---       ┆ ---            │
│ i64      ┆ date        ┆ f64       ┆ str            │
╞══════════╪═════════════╪═══════════╪════════════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ United Kingdom │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ United Kingdom │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ United Kingdom │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ United Kingdom │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ France         │
│ …        ┆ …           ┆ …         ┆ …              │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ United Kingdom │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ United Kingdom │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ United Kingdom │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ United Kingdom │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ United Kingdom │
└──────────┴─────────────┴───────────┴────────────────┘

Necesitaremos sacar una columna extra de Ventas totales, que sea el calculo de cantidad por precio por unidad

In [55]:
df = df.with_columns(
    (pl.col("Quantity") * pl.col("UnitPrice")).alias("TotalSales")
)
df

shape: (442_815, 5)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ United Kingdom ┆ 0.55       │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ United Kingdom ┆ 12.45      │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ United Kingdom ┆ 5.04       │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ United Kingdom ┆ 4.13       │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ France         ┆ 46.8       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ United Kingdom ┆ 20.4       │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ United Kingdom ┆ 1.65       │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ United Kingdom ┆ 4.15       │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ United Kingdom ┆ 8.15       │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ United Kingdom ┆ 4.13       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┘

Podemos agrupar por dias para ver la summa de ventas totales a modo de visualicacion.

In [56]:
df_daily_sales = df.group_by("InvoiceDate").agg([
    pl.col("Quantity").sum().alias("Total_Quantity"),
    (pl.col("Quantity") * pl.col("UnitPrice")).sum().alias("Total_Sales")  
])
df_daily_sales = df_daily_sales.sort("InvoiceDate")
df_daily_sales

shape: (305, 3)
┌─────────────┬────────────────┬─────────────┐
│ InvoiceDate ┆ Total_Quantity ┆ Total_Sales │
│ ---         ┆ ---            ┆ ---         │
│ date        ┆ i64            ┆ f64         │
╞═════════════╪════════════════╪═════════════╡
│ 2010-12-01  ┆ 12899          ┆ 26604.56    │
│ 2010-12-02  ┆ 12610          ┆ 23203.33    │
│ 2010-12-03  ┆ 8632           ┆ 19423.33    │
│ 2010-12-05  ┆ 10810          ┆ 20738.69    │
│ 2010-12-06  ┆ 13876          ┆ 30506.65    │
│ …           ┆ …              ┆ …           │
│ 2011-12-05  ┆ 24245          ┆ 45221.72    │
│ 2011-12-06  ┆ 16717          ┆ 26898.4     │
│ 2011-12-07  ┆ 16375          ┆ 27847.03    │
│ 2011-12-08  ┆ 20021          ┆ 38582.06    │
│ 2011-12-09  ┆ 7666           ┆ 15940.79    │
└─────────────┴────────────────┴─────────────┘

Haremos un ultimo describe para ver como ha quedado el dataset

In [57]:
df.describe()

shape: (9, 6)
┌────────────┬──────────┬────────────────────────────┬───────────┬────────────────┬────────────┐
│ statistic  ┆ Quantity ┆ InvoiceDate                ┆ UnitPrice ┆ Country        ┆ TotalSales │
│ ---        ┆ ---      ┆ ---                        ┆ ---       ┆ ---            ┆ ---        │
│ str        ┆ f64      ┆ str                        ┆ f64       ┆ str            ┆ f64        │
╞════════════╪══════════╪════════════════════════════╪═══════════╪════════════════╪════════════╡
│ count      ┆ 442815.0 ┆ 442815                     ┆ 442815.0  ┆ 442815         ┆ 442815.0   │
│ null_count ┆ 0.0      ┆ 0                          ┆ 0.0       ┆ 0              ┆ 0.0        │
│ mean       ┆ 6.33038  ┆ 2011-07-05 19:17:40.866000 ┆ 2.388613  ┆ null           ┆ 11.456598  │
│ std        ┆ 6.458147 ┆ null                       ┆ 1.630417  ┆ null           ┆ 12.759842  │
│ min        ┆ 1.0      ┆ 2010-12-01                 ┆ 0.12      ┆ Australia      ┆ 0.12       │
│ 25%        ┆ 1.0      ┆ 2011-03-29                 ┆ 1.25      ┆ null           ┆ 3.29       │
│ 50%        ┆ 4.0      ┆ 2011-07-22                 ┆ 1.95      ┆ null           ┆ 7.5        │
│ 75%        ┆ 10.0     ┆ 2011-10-20                 ┆ 3.29      ┆ null           ┆ 15.3       │
│ max        ┆ 27.0     ┆ 2011-12-09                 ┆ 7.5       ┆ United Kingdom ┆ 193.96     │
└────────────┴──────────┴────────────────────────────┴───────────┴────────────────┴────────────┘

Al parecer hay algo raro en las ventas totales el maximo es muy superior al tercer percentil, vamos a calcular el IQR para comprobar el limete superior

In [58]:
calc_iqr_from_column_name("TotalSales")

IQR for TotalSales
3.29 15.299999999999999 12.009999999999998 -14.724999999999998 33.315

Ahora filtramos por el limite superior

In [59]:
df.filter(df["TotalSales"] > 33.3)

shape: (20_718, 5)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╡
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ France         ┆ 46.8       │
│ 12       ┆ 2010-12-09  ┆ 4.25      ┆ United Kingdom ┆ 51.0       │
│ 10       ┆ 2011-01-28  ┆ 6.75      ┆ United Kingdom ┆ 67.5       │
│ 16       ┆ 2011-03-24  ┆ 4.95      ┆ United Kingdom ┆ 79.2       │
│ 24       ┆ 2011-11-22  ┆ 1.45      ┆ United Kingdom ┆ 34.8       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          │
│ 6        ┆ 2011-04-21  ┆ 6.75      ┆ United Kingdom ┆ 40.5       │
│ 16       ┆ 2011-06-20  ┆ 4.15      ┆ United Kingdom ┆ 66.4       │
│ 12       ┆ 2011-11-23  ┆ 3.39      ┆ United Kingdom ┆ 40.68      │
│ 12       ┆ 2011-09-09  ┆ 2.95      ┆ United Kingdom ┆ 35.4       │
│ 10       ┆ 2011-02-25  ┆ 6.75      ┆ United Kingdom ┆ 67.5       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┘

Nos encontramos con mas de 20000 filas con valores mas altos de lo normal, para decidir si eliminarlos o no, vamos a crear dos nuevas variables, una que nos siga el dia de la semana y otra que nos diga si es
festivo en ese pais, todo esto es porque quizas estos valores tan altos son normales en relacion con el dia.

Primero el dia de la semana

In [60]:
import pandas as pd

# día de la semana siendo 1 el Lunes hasta 7 el Domingo
df = df.with_columns(pl.col("InvoiceDate").dt.weekday().alias("weekday"))

df

shape: (442_815, 6)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╪═════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ United Kingdom ┆ 0.55       ┆ 7       │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ United Kingdom ┆ 12.45      ┆ 7       │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ United Kingdom ┆ 5.04       ┆ 2       │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ United Kingdom ┆ 4.13       ┆ 4       │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ France         ┆ 46.8       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          ┆ …       │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ United Kingdom ┆ 20.4       ┆ 7       │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ United Kingdom ┆ 1.65       ┆ 4       │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ United Kingdom ┆ 4.15       ┆ 3       │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ United Kingdom ┆ 8.15       ┆ 3       │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ United Kingdom ┆ 4.13       ┆ 1       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┴─────────┘

Ahora toca calcular el festivo

Lo primero es sacar el codigo por pais y cambiar la columna dde Country por estos codigos mas sencillos de usar.

In [61]:
import pycountry
def get_country_code(country_name):
    try:
        return pycountry.countries.lookup(country_name).alpha_2
    except LookupError:
        return None
countries = df["Country"].unique().to_list()
country_codes = {country: get_country_code(country) for country in countries}
country_codes

{'Netherlands': 'NL',
 'Denmark': 'DK',
 'Japan': 'JP',
 'Cyprus': 'CY',
 'Channel Islands': None,
 'France': 'FR',
 'Singapore': 'SG',
 'Finland': 'FI',
 'RSA': None,
 'Switzerland': 'CH',
 'United Arab Emirates': 'AE',
 'Italy': 'IT',
 'Saudi Arabia': 'SA',
 'Poland': 'PL',
 'EIRE': None,
 'Lithuania': 'LT',
 'Norway': 'NO',
 'Malta': 'MT',
 'United Kingdom': 'GB',
 'Australia': 'AU',
 'Lebanon': 'LB',
 'Iceland': 'IS',
 'Hong Kong': 'HK',
 'Germany': 'DE',
 'Austria': 'AT',
 'Belgium': 'BE',
 'Canada': 'CA',
 'Brazil': 'BR',
 'Greece': 'GR',
 'Sweden': 'SE',
 'Spain': 'ES',
 'European Community': None,
 'Bahrain': 'BH',
 'USA': 'US',
 'Czech Republic': 'CZ',
 'Israel': 'IL',
 'Portugal': 'PT'}

Antes de seguir vemos que hay algunos codigos con None, vamos a filtrarlos

In [62]:
{k: v for k, v in country_codes.items() if v is None}

{'Channel Islands': None,
 'RSA': None,
 'EIRE': None,
 'European Community': None}

Teniendo claro cuales son, vamos a hacer lo siguiente, vamos a eliminar European Community y channel islandds ya que no son un pais y como intentaremos predecir ventas por pais nos complica un poco la vida.

In [63]:
df = df.filter(~((df["Country"] == "European Community") | (df["Country"] == "Channel Islands")))
df

shape: (442_222, 6)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╪═════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ United Kingdom ┆ 0.55       ┆ 7       │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ United Kingdom ┆ 12.45      ┆ 7       │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ United Kingdom ┆ 5.04       ┆ 2       │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ United Kingdom ┆ 4.13       ┆ 4       │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ France         ┆ 46.8       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          ┆ …       │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ United Kingdom ┆ 20.4       ┆ 7       │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ United Kingdom ┆ 1.65       ┆ 4       │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ United Kingdom ┆ 4.15       ┆ 3       │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ United Kingdom ┆ 8.15       ┆ 3       │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ United Kingdom ┆ 4.13       ┆ 1       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┴─────────┘

Ahora Modificaremos a mano el nombre de RSA por South Africa y Eire por Ireland y dejaremos las Channel island como caso imposible ya que

In [64]:
manual_replacements = {
    "RSA": "South Africa",
    "EIRE": "Ireland"
}
df = df.with_columns(
    pl.col("Country").replace(manual_replacements)
)
df

shape: (442_222, 6)
┌──────────┬─────────────┬───────────┬────────────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country        ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---            ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str            ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪════════════════╪════════════╪═════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ United Kingdom ┆ 0.55       ┆ 7       │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ United Kingdom ┆ 12.45      ┆ 7       │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ United Kingdom ┆ 5.04       ┆ 2       │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ United Kingdom ┆ 4.13       ┆ 4       │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ France         ┆ 46.8       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …              ┆ …          ┆ …       │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ United Kingdom ┆ 20.4       ┆ 7       │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ United Kingdom ┆ 1.65       ┆ 4       │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ United Kingdom ┆ 4.15       ┆ 3       │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ United Kingdom ┆ 8.15       ┆ 3       │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ United Kingdom ┆ 4.13       ┆ 1       │
└──────────┴─────────────┴───────────┴────────────────┴────────────┴─────────┘

vovlemos a comprobar los country codes con None

In [65]:
countries = df["Country"].unique().to_list()
country_codes = {country: get_country_code(country) for country in countries}
{k: v for k, v in country_codes.items() if v is None}

{}

Perfecto ahora sobreescribiremos los valores de la columna country por los codigos

In [66]:
country_codes_without_none = {k: v for k, v in country_codes.items() if v is not None}

df = df.with_columns(
    pl.col("Country").replace(country_codes_without_none)
)
df

shape: (442_222, 6)
┌──────────┬─────────────┬───────────┬─────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str     ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪═════════╪════════════╪═════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ GB      ┆ 0.55       ┆ 7       │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ GB      ┆ 12.45      ┆ 7       │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ GB      ┆ 5.04       ┆ 2       │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ GB      ┆ 4.13       ┆ 4       │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ FR      ┆ 46.8       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …       ┆ …          ┆ …       │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ GB      ┆ 20.4       ┆ 7       │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ GB      ┆ 1.65       ┆ 4       │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ GB      ┆ 4.15       ┆ 3       │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ GB      ┆ 8.15       ┆ 3       │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ GB      ┆ 4.13       ┆ 1       │
└──────────┴─────────────┴───────────┴─────────┴────────────┴─────────┘

Lo siguiente es sacar los festivos

In [67]:
import holidays

years = df["InvoiceDate"].dt.year().unique().to_list()


holidays_dict = {}
for country in df["Country"].unique().to_list():
        try:
            holidays_dict[country] = holidays.country_holidays(country, years=years)
        except:
            print(f"{country} not found in holidays database")


holidays_dict

LB not found in holidays database

{'CZ': {datetime.date(2010, 1, 1): 'Den obnovy samostatného českého státu; Nový rok', datetime.date(2010, 4, 5): 'Velikonoční pondělí', datetime.date(2010, 5, 1): 'Svátek práce', datetime.date(2010, 5, 8): 'Den vítězství', datetime.date(2010, 7, 5): 'Den slovanských věrozvěstů Cyrila a Metoděje', datetime.date(2010, 7, 6): 'Den upálení mistra Jana Husa', datetime.date(2010, 9, 28): 'Den české státnosti', datetime.date(2010, 10, 28): 'Den vzniku samostatného československého státu', datetime.date(2010, 11, 17): 'Den boje za svobodu a demokracii', datetime.date(2010, 12, 24): 'Štědrý den', datetime.date(2010, 12, 25): '1. svátek vánoční', datetime.date(2010, 12, 26): '2. svátek vánoční', datetime.date(2011, 1, 1): 'Den obnovy samostatného českého státu; Nový rok', datetime.date(2011, 4, 25): 'Velikonoční pondělí', datetime.date(2011, 5, 1): 'Svátek práce', datetime.date(2011, 5, 8): 'Den vítězství', datetime.date(2011, 7, 5): 'Den slovanských věrozvěstů Cyrila a Metoděje', datetime.date(2011, 7, 6): 'Den upálení mistra Jana Husa', datetime.date(2011, 9, 28): 'Den české státnosti', datetime.date(2011, 10, 28): 'Den vzniku samostatného československého státu', datetime.date(2011, 11, 17): 'Den boje za svobodu a demokracii', datetime.date(2011, 12, 24): 'Štědrý den', datetime.date(2011, 12, 25): '1. svátek vánoční', datetime.date(2011, 12, 26): '2. svátek vánoční'},
 'MT': {datetime.date(2010, 1, 1): 'L-Ewwel tas-Sena', datetime.date(2010, 2, 10): "Il-Festa tan-Nawfraġju ta' San Pawl", datetime.date(2010, 3, 19): "Il-Festa ta' San Ġużepp", datetime.date(2010, 3, 31): 'Jum il-Ħelsien', datetime.date(2010, 4, 2): 'Il-Ġimgħa l-Kbira', datetime.date(2010, 5, 1): 'Jum il-Ħaddiem', datetime.date(2010, 6, 7): 'Sette Giugno', datetime.date(2010, 6, 29): "Il-Festa ta' San Pietru u San Pawl", datetime.date(2010, 8, 15): "Il-Festa ta' Santa Marija", datetime.date(2010, 9, 8): 'Jum il-Vitorja', datetime.date(2010, 9, 21): 'Jum l-Indipendenza', datetime.date(2010, 12, 8): 'Il-Festa tal-Immakulata Kunċizzjoni', datetime.date(2010, 12, 13): 'Jum ir-Repubblika', datetime.date(2010, 12, 25): 'Il-Milied', datetime.date(2011, 1, 1): 'L-Ewwel tas-Sena', datetime.date(2011, 2, 10): "Il-Festa tan-Nawfraġju ta' San Pawl", datetime.date(2011, 3, 19): "Il-Festa ta' San Ġużepp", datetime.date(2011, 3, 31): 'Jum il-Ħelsien', datetime.date(2011, 4, 22): 'Il-Ġimgħa l-Kbira', datetime.date(2011, 5, 1): 'Jum il-Ħaddiem', datetime.date(2011, 6, 7): 'Sette Giugno', datetime.date(2011, 6, 29): "Il-Festa ta' San Pietru u San Pawl", datetime.date(2011, 8, 15): "Il-Festa ta' Santa Marija", datetime.date(2011, 9, 8): 'Jum il-Vitorja', datetime.date(2011, 9, 21): 'Jum l-Indipendenza', datetime.date(2011, 12, 8): 'Il-Festa tal-Immakulata Kunċizzjoni', datetime.date(2011, 12, 13): 'Jum ir-Repubblika', datetime.date(2011, 12, 25): 'Il-Milied'},
 'DE': {datetime.date(2010, 1, 1): 'Neujahr', datetime.date(2010, 4, 2): 'Karfreitag', datetime.date(2010, 4, 5): 'Ostermontag', datetime.date(2010, 5, 1): 'Erster Mai', datetime.date(2010, 5, 13): 'Christi Himmelfahrt', datetime.date(2010, 5, 24): 'Pfingstmontag', datetime.date(2010, 10, 3): 'Tag der Deutschen Einheit', datetime.date(2010, 12, 25): 'Erster Weihnachtstag', datetime.date(2010, 12, 26): 'Zweiter Weihnachtstag', datetime.date(2011, 1, 1): 'Neujahr', datetime.date(2011, 4, 22): 'Karfreitag', datetime.date(2011, 4, 25): 'Ostermontag', datetime.date(2011, 5, 1): 'Erster Mai', datetime.date(2011, 6, 2): 'Christi Himmelfahrt', datetime.date(2011, 6, 13): 'Pfingstmontag', datetime.date(2011, 10, 3): 'Tag der Deutschen Einheit', datetime.date(2011, 12, 25): 'Erster Weihnachtstag', datetime.date(2011, 12, 26): 'Zweiter Weihnachtstag'},
 'AU': {datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 4, 5): 'Easter Monday', datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 1, 26): 'Australia Day', datetime.date(2010, 4, 25): 'ANZAC Day', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 26): 'Boxing Day', datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 4, 25): 'ANZAC Day; Easter Monday', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 1, 26): 'Australia Day', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Boxing Day'},
 'GR': {datetime.date(2010, 1, 1): 'Πρωτοχρονιά', datetime.date(2010, 1, 6): 'Θεοφάνεια', datetime.date(2010, 2, 15): 'Καθαρά Δευτέρα', datetime.date(2010, 3, 25): 'Εικοστή Πέμπτη Μαρτίου', datetime.date(2010, 4, 2): 'Μεγάλη Παρασκευή', datetime.date(2010, 4, 5): 'Δευτέρα του Πάσχα', datetime.date(2010, 5, 24): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2010, 5, 1): 'Εργατική Πρωτομαγιά', datetime.date(2010, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2010, 10, 28): 'Ημέρα του Όχι', datetime.date(2010, 12, 25): 'Χριστούγεννα', datetime.date(2010, 12, 26): 'Σύναξη της Υπεραγίας Θεοτόκου', datetime.date(2011, 1, 1): 'Πρωτοχρονιά', datetime.date(2011, 1, 6): 'Θεοφάνεια', datetime.date(2011, 3, 7): 'Καθαρά Δευτέρα', datetime.date(2011, 3, 25): 'Εικοστή Πέμπτη Μαρτίου', datetime.date(2011, 4, 22): 'Μεγάλη Παρασκευή', datetime.date(2011, 4, 25): 'Δευτέρα του Πάσχα', datetime.date(2011, 6, 13): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2011, 5, 1): 'Εργατική Πρωτομαγιά', datetime.date(2011, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2011, 10, 28): 'Ημέρα του Όχι', datetime.date(2011, 12, 25): 'Χριστούγεννα', datetime.date(2011, 12, 26): 'Σύναξη της Υπεραγίας Θεοτόκου'},
 'SE': {datetime.date(2010, 1, 1): 'Nyårsdagen', datetime.date(2010, 1, 6): 'Trettondedag jul', datetime.date(2010, 4, 2): 'Långfredagen', datetime.date(2010, 4, 4): 'Påskdagen; Söndag', datetime.date(2010, 4, 5): 'Annandag påsk', datetime.date(2010, 5, 1): 'Första maj', datetime.date(2010, 5, 13): 'Kristi himmelsfärdsdag', datetime.date(2010, 6, 6): 'Sveriges nationaldag; Söndag', datetime.date(2010, 5, 23): 'Pingstdagen; Söndag', datetime.date(2010, 6, 25): 'Midsommarafton', datetime.date(2010, 6, 26): 'Midsommardagen', datetime.date(2010, 11, 6): 'Alla helgons dag', datetime.date(2010, 12, 24): 'Julafton', datetime.date(2010, 12, 25): 'Juldagen', datetime.date(2010, 12, 26): 'Annandag jul; Söndag', datetime.date(2010, 12, 31): 'Nyårsafton', datetime.date(2010, 1, 3): 'Söndag', datetime.date(2010, 1, 10): 'Söndag', datetime.date(2010, 1, 17): 'Söndag', datetime.date(2010, 1, 24): 'Söndag', datetime.date(2010, 1, 31): 'Söndag', datetime.date(2010, 2, 7): 'Söndag', datetime.date(2010, 2, 14): 'Söndag', datetime.date(2010, 2, 21): 'Söndag', datetime.date(2010, 2, 28): 'Söndag', datetime.date(2010, 3, 7): 'Söndag', datetime.date(2010, 3, 14): 'Söndag', datetime.date(2010, 3, 21): 'Söndag', datetime.date(2010, 3, 28): 'Söndag', datetime.date(2010, 4, 11): 'Söndag', datetime.date(2010, 4, 18): 'Söndag', datetime.date(2010, 4, 25): 'Söndag', datetime.date(2010, 5, 2): 'Söndag', datetime.date(2010, 5, 9): 'Söndag', datetime.date(2010, 5, 16): 'Söndag', datetime.date(2010, 5, 30): 'Söndag', datetime.date(2010, 6, 13): 'Söndag', datetime.date(2010, 6, 20): 'Söndag', datetime.date(2010, 6, 27): 'Söndag', datetime.date(2010, 7, 4): 'Söndag', datetime.date(2010, 7, 11): 'Söndag', datetime.date(2010, 7, 18): 'Söndag', datetime.date(2010, 7, 25): 'Söndag', datetime.date(2010, 8, 1): 'Söndag', datetime.date(2010, 8, 8): 'Söndag', datetime.date(2010, 8, 15): 'Söndag', datetime.date(2010, 8, 22): 'Söndag', datetime.date(2010, 8, 29): 'Söndag', datetime.date(2010, 9, 5): 'Söndag', datetime.date(2010, 9, 12): 'Söndag', datetime.date(2010, 9, 19): 'Söndag', datetime.date(2010, 9, 26): 'Söndag', datetime.date(2010, 10, 3): 'Söndag', datetime.date(2010, 10, 10): 'Söndag', datetime.date(2010, 10, 17): 'Söndag', datetime.date(2010, 10, 24): 'Söndag', datetime.date(2010, 10, 31): 'Söndag', datetime.date(2010, 11, 7): 'Söndag', datetime.date(2010, 11, 14): 'Söndag', datetime.date(2010, 11, 21): 'Söndag', datetime.date(2010, 11, 28): 'Söndag', datetime.date(2010, 12, 5): 'Söndag', datetime.date(2010, 12, 12): 'Söndag', datetime.date(2010, 12, 19): 'Söndag', datetime.date(2011, 1, 1): 'Nyårsdagen', datetime.date(2011, 1, 6): 'Trettondedag jul', datetime.date(2011, 4, 22): 'Långfredagen', datetime.date(2011, 4, 24): 'Påskdagen; Söndag', datetime.date(2011, 4, 25): 'Annandag påsk', datetime.date(2011, 5, 1): 'Första maj; Söndag', datetime.date(2011, 6, 2): 'Kristi himmelsfärdsdag', datetime.date(2011, 6, 6): 'Sveriges nationaldag', datetime.date(2011, 6, 12): 'Pingstdagen; Söndag', datetime.date(2011, 6, 24): 'Midsommarafton', datetime.date(2011, 6, 25): 'Midsommardagen', datetime.date(2011, 11, 5): 'Alla helgons dag', datetime.date(2011, 12, 24): 'Julafton', datetime.date(2011, 12, 25): 'Juldagen; Söndag', datetime.date(2011, 12, 26): 'Annandag jul', datetime.date(2011, 12, 31): 'Nyårsafton', datetime.date(2011, 1, 2): 'Söndag', datetime.date(2011, 1, 9): 'Söndag', datetime.date(2011, 1, 16): 'Söndag', datetime.date(2011, 1, 23): 'Söndag', datetime.date(2011, 1, 30): 'Söndag', datetime.date(2011, 2, 6): 'Söndag', datetime.date(2011, 2, 13): 'Söndag', datetime.date(2011, 2, 20): 'Söndag', datetime.date(2011, 2, 27): 'Söndag', datetime.date(2011, 3, 6): 'Söndag', datetime.date(2011, 3, 13): 'Söndag', datetime.date(2011, 3, 20): 'Söndag', datetime.date(2011, 3, 27): 'Söndag', datetime.date(2011, 4, 3): 'Söndag', datetime.date(2011, 4, 10): 'Söndag', datetime.date(2011, 4, 17): 'Söndag', datetime.date(2011, 5, 8): 'Söndag', datetime.date(2011, 5, 15): 'Söndag', datetime.date(2011, 5, 22): 'Söndag', datetime.date(2011, 5, 29): 'Söndag', datetime.date(2011, 6, 5): 'Söndag', datetime.date(2011, 6, 19): 'Söndag', datetime.date(2011, 6, 26): 'Söndag', datetime.date(2011, 7, 3): 'Söndag', datetime.date(2011, 7, 10): 'Söndag', datetime.date(2011, 7, 17): 'Söndag', datetime.date(2011, 7, 24): 'Söndag', datetime.date(2011, 7, 31): 'Söndag', datetime.date(2011, 8, 7): 'Söndag', datetime.date(2011, 8, 14): 'Söndag', datetime.date(2011, 8, 21): 'Söndag', datetime.date(2011, 8, 28): 'Söndag', datetime.date(2011, 9, 4): 'Söndag', datetime.date(2011, 9, 11): 'Söndag', datetime.date(2011, 9, 18): 'Söndag', datetime.date(2011, 9, 25): 'Söndag', datetime.date(2011, 10, 2): 'Söndag', datetime.date(2011, 10, 9): 'Söndag', datetime.date(2011, 10, 16): 'Söndag', datetime.date(2011, 10, 23): 'Söndag', datetime.date(2011, 10, 30): 'Söndag', datetime.date(2011, 11, 6): 'Söndag', datetime.date(2011, 11, 13): 'Söndag', datetime.date(2011, 11, 20): 'Söndag', datetime.date(2011, 11, 27): 'Söndag', datetime.date(2011, 12, 4): 'Söndag', datetime.date(2011, 12, 11): 'Söndag', datetime.date(2011, 12, 18): 'Söndag'},
 'CY': {datetime.date(2010, 1, 1): 'Πρωτοχρονιά', datetime.date(2010, 1, 6): 'Ημέρα των Θεοφανίων', datetime.date(2010, 2, 15): 'Καθαρά Δευτέρα', datetime.date(2010, 3, 25): 'Ημέρα της Ελληνικής Ανεξαρτησίας', datetime.date(2010, 4, 1): 'Εθνική Ημέρα Κύπρου', datetime.date(2010, 4, 2): 'Μεγάλη Παρασκευή', datetime.date(2010, 4, 4): 'Κυριακή του Πάσχα', datetime.date(2010, 4, 5): 'Δευτέρα της Διακαινησίμου', datetime.date(2010, 5, 1): 'Πρωτομαγιά', datetime.date(2010, 5, 24): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2010, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2010, 10, 1): 'Ημέρα της Κυπριακής Ανεξαρτησίας', datetime.date(2010, 10, 28): 'Ημέρα του Όχι', datetime.date(2010, 12, 25): 'Χριστούγεννα', datetime.date(2010, 12, 26): 'Επομένη Χριστουγέννων', datetime.date(2011, 1, 1): 'Πρωτοχρονιά', datetime.date(2011, 1, 6): 'Ημέρα των Θεοφανίων', datetime.date(2011, 3, 7): 'Καθαρά Δευτέρα', datetime.date(2011, 3, 25): 'Ημέρα της Ελληνικής Ανεξαρτησίας', datetime.date(2011, 4, 1): 'Εθνική Ημέρα Κύπρου', datetime.date(2011, 4, 22): 'Μεγάλη Παρασκευή', datetime.date(2011, 4, 24): 'Κυριακή του Πάσχα', datetime.date(2011, 4, 25): 'Δευτέρα της Διακαινησίμου', datetime.date(2011, 5, 1): 'Πρωτομαγιά', datetime.date(2011, 6, 13): 'Δευτέρα του Αγίου Πνεύματος', datetime.date(2011, 8, 15): 'Κοίμηση της Θεοτόκου', datetime.date(2011, 10, 1): 'Ημέρα της Κυπριακής Ανεξαρτησίας', datetime.date(2011, 10, 28): 'Ημέρα του Όχι', datetime.date(2011, 12, 25): 'Χριστούγεννα', datetime.date(2011, 12, 26): 'Επομένη Χριστουγέννων'},
 'BR': {datetime.date(2010, 1, 1): 'Confraternização Universal', datetime.date(2010, 4, 2): 'Sexta-feira Santa', datetime.date(2010, 4, 21): 'Tiradentes', datetime.date(2010, 5, 1): 'Dia do Trabalhador', datetime.date(2010, 9, 7): 'Independência do Brasil', datetime.date(2010, 10, 12): 'Nossa Senhora Aparecida', datetime.date(2010, 11, 2): 'Finados', datetime.date(2010, 11, 15): 'Proclamação da República', datetime.date(2010, 12, 25): 'Natal', datetime.date(2011, 1, 1): 'Confraternização Universal', datetime.date(2011, 4, 22): 'Sexta-feira Santa', datetime.date(2011, 4, 21): 'Tiradentes', datetime.date(2011, 5, 1): 'Dia do Trabalhador', datetime.date(2011, 9, 7): 'Independência do Brasil', datetime.date(2011, 10, 12): 'Nossa Senhora Aparecida', datetime.date(2011, 11, 2): 'Finados', datetime.date(2011, 11, 15): 'Proclamação da República', datetime.date(2011, 12, 25): 'Natal'},
 'ZA': {datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 4, 5): 'Family Day', datetime.date(2010, 12, 16): 'Day of Reconciliation', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 26): 'Day of Goodwill', datetime.date(2010, 12, 27): 'Day of Goodwill (observed)', datetime.date(2010, 3, 21): 'Human Rights Day', datetime.date(2010, 3, 22): 'Human Rights Day (observed)', datetime.date(2010, 4, 27): 'Freedom Day', datetime.date(2010, 5, 1): "Workers' Day", datetime.date(2010, 6, 16): 'Youth Day', datetime.date(2010, 8, 9): "National Women's Day", datetime.date(2010, 9, 24): 'Heritage Day', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 4, 25): 'Family Day', datetime.date(2011, 12, 16): 'Day of Reconciliation', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Day of Goodwill', datetime.date(2011, 3, 21): 'Human Rights Day', datetime.date(2011, 4, 27): 'Freedom Day', datetime.date(2011, 5, 1): "Workers' Day", datetime.date(2011, 5, 2): "Workers' Day (observed)", datetime.date(2011, 6, 16): 'Youth Day', datetime.date(2011, 8, 9): "National Women's Day", datetime.date(2011, 9, 24): 'Heritage Day', datetime.date(2011, 5, 18): 'Local government elections', datetime.date(2011, 12, 27): 'Public holiday by presidential decree'},
 'CA': {datetime.date(2010, 1, 1): "New Year's Day", datetime.date(2010, 4, 2): 'Good Friday', datetime.date(2010, 7, 1): 'Canada Day', datetime.date(2010, 9, 6): 'Labour Day', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2010, 12, 27): 'Christmas Day (observed)', datetime.date(2011, 1, 1): "New Year's Day", datetime.date(2011, 1, 3): "New Year's Day (observed)", datetime.date(2011, 4, 22): 'Good Friday', datetime.date(2011, 7, 1): 'Canada Day', datetime.date(2011, 9, 5): 'Labour Day', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Christmas Day (observed)'},
 'BE': {datetime.date(2010, 1, 1): 'Nieuwjaar', datetime.date(2010, 4, 4): 'Pasen', datetime.date(2010, 4, 5): 'Paasmaandag', datetime.date(2010, 5, 1): 'Dag van de Arbeid', datetime.date(2010, 5, 13): 'O. L. H. Hemelvaart', datetime.date(2010, 5, 23): 'Pinksteren', datetime.date(2010, 5, 24): 'Pinkstermaandag', datetime.date(2010, 7, 21): 'Nationale feestdag', datetime.date(2010, 8, 15): 'O. L. V. Hemelvaart', datetime.date(2010, 11, 1): 'Allerheiligen', datetime.date(2010, 11, 11): 'Wapenstilstand', datetime.date(2010, 12, 25): 'Kerstmis', datetime.date(2011, 1, 1): 'Nieuwjaar', datetime.date(2011, 4, 24): 'Pasen', datetime.date(2011, 4, 25): 'Paasmaandag', datetime.date(2011, 5, 1): 'Dag van de Arbeid', datetime.date(2011, 6, 2): 'O. L. H. Hemelvaart', datetime.date(2011, 6, 12): 'Pinksteren', datetime.date(2011, 6, 13): 'Pinkstermaandag', datetime.date(2011, 7, 21): 'Nationale feestdag', datetime.date(2011, 8, 15): 'O. L. V. Hemelvaart', datetime.date(2011, 11, 1): 'Allerheiligen', datetime.date(2011, 11, 11): 'Wapenstilstand', datetime.date(2011, 12, 25): 'Kerstmis'},
 'HK': {datetime.date(2010, 1, 1): 'The first day of January', datetime.date(2010, 2, 13): "The day preceding Lunar New Year's Day", datetime.date(2010, 2, 15): 'The second day of Lunar New Year', datetime.date(2010, 2, 16): 'The third day of Lunar New Year', datetime.date(2010, 4, 5): 'Ching Ming Festival', datetime.date(2010, 5, 1): 'Labour Day', datetime.date(2010, 6, 16): 'Tuen Ng Festival', datetime.date(2010, 7, 1): 'Hong Kong Special Administrative Region Establishment Day', datetime.date(2010, 9, 23): 'The day following the Chinese Mid-Autumn Festival', datetime.date(2010, 10, 16): 'Chung Yeung Festival', datetime.date(2010, 10, 1): 'National Day', datetime.date(2010, 12, 25): 'Christmas Day', datetime.date(2011, 1, 1): 'The first day of January', datetime.date(2011, 2, 3): "Lunar New Year's Day", datetime.date(2011, 2, 4): 'The second day of Lunar New Year', datetime.date(2011, 2, 5): 'The third day of Lunar New Year', datetime.date(2011, 4, 5): 'Ching Ming Festival', datetime.date(2011, 5, 1): 'Labour Day', datetime.date(2011, 5, 2): 'Labour Day (observed)', datetime.date(2011, 6, 6): 'Tuen Ng Festival', datetime.date(2011, 7, 1): 'Hong Kong Special Administrative Region Establishment Day', datetime.date(2011, 9, 13): 'The day following the Chinese Mid-Autumn Festival', datetime.date(2011, 10, 5): 'Chung Yeung Festival', datetime.date(2011, 10, 1): 'National Day', datetime.date(2011, 12, 25): 'Christmas Day', datetime.date(2011, 12, 26): 'Christmas Day (observed)'},
 'PL': {datetime.date(2010, 1, 1): 'Nowy Rok', datetime.date(2010, 4, 4): 'Niedziela Wielkanocna', datetime.date(2010, 4, 5): 'Poniedziałek Wielkanocny', datetime.date(2010, 5, 1): 'Święto Państwowe', datetime.date(2010, 5, 3): 'Święto Narodowe Trzeciego Maja', datetime.date(2010, 5, 23): 'Zielone Świątki', datetime.date(2010, 6, 3): 'Dzień Bożego Ciała', datetime.date(2010, 8, 15): 'Wniebowzięcie Najświętszej Marii Panny', datetime.date(2010, 11, 1): 'Uroczystość Wszystkich Świętych', datetime.date(2010, 11, 11): 'Narodowe Święto Niepodległości', datetime.date(2010, 12, 25): 'Boże Narodzenie (pierwszy dzień)', datetime.date(2010, 12, 26): 'Boże Narodzenie (drugi dzień)', datetime.date(2011, 1, 1): 'Nowy Rok', datetime.date(2011, 1, 6): 'Święto Trzech Króli', datetime.date(2011, 4, 24): 'Niedziela Wielkanocna', datetime.date(2011, 4, 25): 'Poniedziałek Wielkanocny', datetime.date(2011, 5, 1): 'Święto Państwowe', datetime.date(2011, 5, 3): 'Święto Narodowe Trzeciego Maja', datetime.date(2011, 6, 12): 'Zielone Świątki', datetime.date(2011, 6, 23): 'Dzień Bożego Ciała', datetime.date(2011, 8, 15): 'Wniebowzięcie Najświętszej Marii Panny', datetime.date(2011, 11, 1): 'Uroczystość Wszystkich Świętych', datetime.date(2011, 11, 11): 'Narodowe Święto Niepodległości', datetime.date(2011, 12, 25): 'Boże Narodzenie (pierwszy dzień)', datetime.date(2011, 12, 26): 'Boże Narodzenie (drugi dzień)'},

Casii parece ser que tenemos un problema con el libano, no encontramos sus dias festivos, vamos a medir cuanto impacto tendria en el futuro entrenamiento no tener las vacaciones del libano.
para ello comprobamos cuantas filas hay con el libano.

In [68]:
df.filter(df["Country"] == "LB")

shape: (33, 6)
┌──────────┬─────────────┬───────────┬─────────┬────────────┬─────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country ┆ TotalSales ┆ weekday │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆ ---        ┆ ---     │
│ i64      ┆ date        ┆ f64       ┆ str     ┆ f64        ┆ i8      │
╞══════════╪═════════════╪═══════════╪═════════╪════════════╪═════════╡
│ 8        ┆ 2011-01-27  ┆ 3.95      ┆ LB      ┆ 31.6       ┆ 4       │
│ 2        ┆ 2011-01-27  ┆ 6.35      ┆ LB      ┆ 12.7       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 3.95      ┆ LB      ┆ 47.4       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 1.45      ┆ LB      ┆ 17.4       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 6.75      ┆ LB      ┆ 81.0       ┆ 4       │
│ …        ┆ …           ┆ …         ┆ …       ┆ …          ┆ …       │
│ 6        ┆ 2011-01-27  ┆ 2.55      ┆ LB      ┆ 15.3       ┆ 4       │
│ 12       ┆ 2011-01-27  ┆ 1.25      ┆ LB      ┆ 15.0       ┆ 4       │
│ 6        ┆ 2011-01-27  ┆ 2.55      ┆ LB      ┆ 15.3       ┆ 4       │
│ 10       ┆ 2011-01-27  ┆ 1.65      ┆ LB      ┆ 16.5       ┆ 4       │
│ 6        ┆ 2011-01-27  ┆ 3.75      ┆ LB      ┆ 22.5       ┆ 4       │
└──────────┴─────────────┴───────────┴─────────┴────────────┴─────────┘

viendo que solo hay 33 lo mejor seria ignorar los festivos del Libano puesto que el impacto del modelo sera minimo o nulo
Todo arreglado! aniadimos una columna extra al dataset que indique si es o no festivo ese dia.

In [69]:
def is_holiday(date, country):
    holiday_list = holidays_dict.get(country, {})
    return 1 if date in holiday_list else 0
is_holiday_col = df.select(["InvoiceDate", "Country"]).map_rows(lambda row: is_holiday(row[0], row[1]))
df = df.with_columns(pl.Series("is_holiday", is_holiday_col))
df

shape: (442_222, 7)
┌──────────┬─────────────┬───────────┬─────────┬────────────┬─────────┬────────────┐
│ Quantity ┆ InvoiceDate ┆ UnitPrice ┆ Country ┆ TotalSales ┆ weekday ┆ is_holiday │
│ ---      ┆ ---         ┆ ---       ┆ ---     ┆ ---        ┆ ---     ┆ ---        │
│ i64      ┆ date        ┆ f64       ┆ str     ┆ f64        ┆ i8      ┆ i64        │
╞══════════╪═════════════╪═══════════╪═════════╪════════════╪═════════╪════════════╡
│ 1        ┆ 2011-03-27  ┆ 0.55      ┆ GB      ┆ 0.55       ┆ 7       ┆ 0          │
│ 3        ┆ 2011-05-22  ┆ 4.15      ┆ GB      ┆ 12.45      ┆ 7       ┆ 0          │
│ 12       ┆ 2011-09-06  ┆ 0.42      ┆ GB      ┆ 5.04       ┆ 2       ┆ 0          │
│ 1        ┆ 2011-10-13  ┆ 4.13      ┆ GB      ┆ 4.13       ┆ 4       ┆ 0          │
│ 24       ┆ 2011-09-15  ┆ 1.95      ┆ FR      ┆ 46.8       ┆ 4       ┆ 0          │
│ …        ┆ …           ┆ …         ┆ …       ┆ …          ┆ …       ┆ …          │
│ 24       ┆ 2011-03-06  ┆ 0.85      ┆ GB      ┆ 20.4       ┆ 7       ┆ 0          │
│ 1        ┆ 2011-12-08  ┆ 1.65      ┆ GB      ┆ 1.65       ┆ 4       ┆ 0          │
│ 1        ┆ 2011-06-08  ┆ 4.15      ┆ GB      ┆ 4.15       ┆ 3       ┆ 0          │
│ 5        ┆ 2011-06-29  ┆ 1.63      ┆ GB      ┆ 8.15       ┆ 3       ┆ 0          │
│ 1        ┆ 2011-08-01  ┆ 4.13      ┆ GB      ┆ 4.13       ┆ 1       ┆ 0          │
└──────────┴─────────────┴───────────┴─────────┴────────────┴─────────┴────────────┘

Vamos a sacar algunas variables temporales adicionales, de las que puede depender las ventas

In [70]:
pl.col("InvoiceDate").dt.quarter()

In [73]:

df = df.with_columns([ 
   ((pl.col("InvoiceDate").dt.day() <= 10)).cast(pl.Int8).alias("is_month_start"),
    ((pl.col("InvoiceDate").dt.day() >= (pl.col("InvoiceDate").dt.month_end().dt.day() - 9))).cast(pl.Int8).alias("is_month_end"),
    pl.col("InvoiceDate").dt.quarter().alias("quarter_num"),
])
df

shape: (442_222, 10)
┌──────────┬────────────┬───────────┬─────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ Quantity ┆ InvoiceDat ┆ UnitPrice ┆ Country ┆ … ┆ is_holiday ┆ is_month_ ┆ is_month_ ┆ quarter_n │
│ ---      ┆ e          ┆ ---       ┆ ---     ┆   ┆ ---        ┆ start     ┆ end       ┆ um        │
│ i64      ┆ ---        ┆ f64       ┆ str     ┆   ┆ i64        ┆ ---       ┆ ---       ┆ ---       │
│          ┆ date       ┆           ┆         ┆   ┆            ┆ i8        ┆ i8        ┆ i8        │
╞══════════╪════════════╪═══════════╪═════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2011-03-27 ┆ 0.55      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 1         │
│ 3        ┆ 2011-05-22 ┆ 4.15      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 2         │
│ 12       ┆ 2011-09-06 ┆ 0.42      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 3         │
│ 1        ┆ 2011-10-13 ┆ 4.13      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 0         ┆ 4         │
│ 24       ┆ 2011-09-15 ┆ 1.95      ┆ FR      ┆ … ┆ 0          ┆ 0         ┆ 0         ┆ 3         │
│ …        ┆ …          ┆ …         ┆ …       ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 24       ┆ 2011-03-06 ┆ 0.85      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 1         │
│ 1        ┆ 2011-12-08 ┆ 1.65      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 4         │
│ 1        ┆ 2011-06-08 ┆ 4.15      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 2         │
│ 5        ┆ 2011-06-29 ┆ 1.63      ┆ GB      ┆ … ┆ 0          ┆ 0         ┆ 1         ┆ 2         │
│ 1        ┆ 2011-08-01 ┆ 4.13      ┆ GB      ┆ … ┆ 0          ┆ 1         ┆ 0         ┆ 3         │
└──────────┴────────────┴───────────┴─────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [74]:
df.write_csv("data_cleaned.csv")

In [24]:
import pickle


with open("datos_cleaned.pkl", "wb") as file:
    pickle.dump(df, file)